[2015-03-31 20:11] st-anton commented on #529
@bcordis: If you want to review the .less file, here are the changes:
Note 1: Several of them appears in biblestudy.less as well
- bsm_teachertable_list deleted, note 1
- bsm_teacherthumbnail_list deleted
- bsm_teachertable used in \com_biblestudy\site\views\teachers\tmpl\default_custom.php
- landingtable, landingrow, landingcell, landinglink used in \com_biblestudy\site\helpers\landing.php
- term

[2015-03-31 21:02] bcordis commented on #529
Less file creates the css file. So we need to update the less or when compiling the component it will do the css file.

Sent from my iPhone

[2015-04-06 11:38] bcordis commented on #419
Captcha is a plugin option.

[2015-04-08 19:49] st-anton opened #532 "Frontend Landing page: Some teachers appear twice"
Same as #511:
A teacher appears twice if (s)he has studies in two different access levels.

[2015-04-08 20:00] st-anton opened #533 "Frontend edit media: Fields are empty like new media"
When selecting a media out of the list and klicking on it, the next page is not filled with tha data of the media but left empty like a new media.
Maybe has something to do with #507

[2015-04-08 20:07] st-anton commented on #500
@tomfuller2 Should we add a dummy file to be loaded? Or do you have some phrases to add here?
As mentioned above, legacy and local bring with them a language file. Amazon and ftp currently have no language file.

[2015-04-08 20:26] st-anton opened #534 "Frontend Studies List Display: Crashes with parser error"
Template setting: 'System format':
DateTime::__construct(): Failed to parse time string (Sonntag, 01. Februar 2015) at position 0 (S): The timezone could not be found in the database

Template setting '2010/09/01':
DateTime::__construct(): Failed to parse time string (2015/Feb/So) at position 4 (/): Unexpected character

Please find in: http://feg-muenchen-nord.de/fegtest/index.php/study-list-all

[2015-04-09 19:28] tomfuller2 opened #535 "Adding new study introduces an "A""
Enter a new study - every one adds an "A" as a topic. This creates a large list of capital A's in the topic list. This is in version 8.08. Not sure if it happens in version 9.

[2015-04-11 14:01] bcordis commented on #535
Thought I had fixed this in the 8.x branch and in development.

[2015-04-11 18:16] st-anton opened #536 "Folder of images is Joomla default, but not com_biblestudy"
Add / edit Teacher:
I expected the folder \media\com_biblestudy\images to be used for teacher images. Also Billy Sunday is there. Instead of this, folder \images is used.
Imho the Joomla folder should not be used.

[2015-04-11 18:22] st-anton opened #537 "Edit and Save Teacher: Strange Message"
When saving a teacher after edit, a strange message is displayed:

Message
Teacher is in use and cannot be removed unless records are updated. XXX here all his messages are mentioned - in my case a really long list! XXX
Item successfully saved.

[2015-04-11 18:32] st-anton opened #538 "Backend Servers Batch gives notice"
The popup windows comes up with
 Notice: Use of undefined constant BIBLESTUDY_CHECKREL - assumed 'BIBLESTUDY_CHECKREL' in ...\administrator\components\com_biblestudy\views\servers\tmpl\default_batch.php on line 16
Call Stack
Time	Memory	Function	Location
...shortened...
11	1.1785	5236248	BiblestudyViewServers->display( )	..\legacy.php:690
12	1.2091	5980400	JViewLegacy->display( )	..\view.html.php:

[2015-04-11 19:14] st-anton opened #539 "Corrupt images / icons, leftovers and menu icons"
- I found 28 images and icons, that cannot be displayed because of malformed header information. There are both .png and .gif icons. Some of them, I can find in the source code, some of them seems to be leftovers.
- Leftovers: A lot of icons I cannot find in the source code. Example: \media\images\icons contains 21 files names icon-32-*.png, but only 4 of them are used.
- Menue items: As far as I

[2015-04-13 18:10] st-anton commented on #513
I got it:
libraries/joomla/image/image.php line 136 gets the imagesize:
`'width' => $info[0],  is   24`
`'height' => $info[1],   is   24`
`'attributes' => $info[3],  is   width="24" height="24"`
with
site/heplers/media.php line 96, both the `attributes` as well as the `width`and the `height` is put in.

So either is obsolete.

[2015-04-13 19:24] st-anton commented on #534
The bug disappear, when a custom code for date is set like j.n.Y

[2015-04-18 08:35] st-anton opened #540 "Provide templates for migrators"
During a migration, the BS9 templates are overwritten by the BS8 templates. This is not bad, the user has it's settings like format of date, filter settings, comments entry and so on. On the other side, the layout settings are worthless, table rows and columns are no more useful.
Idea: We provide one or two templates as 'reference' to show the user how to set up a layout. With the template -> expo

[2015-04-18 15:23] st-anton commented on #536
All fields refer to the \images folder. This comes from the use of field type 'media'.
https://docs.joomla.org/Media_form_field_type says, that `directory (mandatory) is the directory from which the user will be able to choose a file. This attribute should be relative to the top level /images/ folder.`
So we never will be able to access \media\com_biblestudy\images

[2015-04-18 20:23] st-anton commented on #536
Seems to be not that easy:
/media/ seems to be intended to be filled during installation, but not touched afterwards.
/images/ is the only folder, that the media manager can access. But files cannot be placed here by installation manifest; it needs to be done manually. For example PhocaGallery component does it by /install/script.php.
In my opinion, all the images that are set in the backends sett

[2015-04-18 20:27] bcordis commented on #536
You can hard code the media manager to use the folder but that would need some work. I know it is possible.

Sent from my iPhone

[2015-04-20 11:38] st-anton commented on #374
I tried in my current website (Joomla 2.5 with BS 8.0.0). There it does not work as well.
![user](https://cloud.githubusercontent.com/assets/2517417/7229300/6fa03756-e762-11e4-893d-9009c08dd104.png)
So: Is there a use of it? Can we drop this feature?

[2015-04-20 12:12] st-anton commented on #536
Does it mean some kind of hack in the Joomla core? I don't like that.
Digging deeper in the docs, it gets clearer to me, that /media/ should be used for all images, js and css the extension brings with the installation. Unlike this /images/ is used for user uploading images for the content.
Example for the discussions in the past: google groups discussion within https://docs.joomla.org/Manifest_fi

[2015-04-20 12:19] st-anton commented on #539
The menue items are not displayed in the isis template - it does not have to do with Joomla. So menue icons should be kept.

[2015-04-20 22:34] bcordis commented on #536
There should be a way to point to a folder in the xml code for that view.

Sent from my iPhone

[2015-04-21 00:05] bcordis commented on #535
@tomfuller2 This has been fixed in latest version please test.

[2015-04-21 00:07] bcordis commented on #526
This was a prametarter option in the old system need to make sure it is moved over right. looking.

[2015-04-30 11:13] bcordis commented on #374
Right now we don't use it. It was to pull contact info form the users info.

[2015-05-02 20:40] bcordis commented on #271
Closing as we have made this possible in this version.

[2015-05-02 20:40] #271 closed

[2015-05-03 02:37] bcordis commented on #374
Fixed problem with selection.

[2015-05-03 02:52] bcordis commented on #287
@st-anton Moving this to 9.1.0 as i don't have time to fixe this. to manny thing will need to be fixed with the model to make it work.

[2015-05-03 02:53] bcordis commented on #526
@st-anton @tomfuller2  Can you retest and see if I fixed this.

[2015-05-03 02:56] bcordis commented on #498
@tomfuller2 can we meet on this and see what all needs to be fixed to make it work. Right now i'm having to work through the code and see where this is broken at.

[2015-05-03 13:07] bcordis commented on #498
@st-anton This is a normal function of joomla if you did not save the media before selecting a new server. I have also fixed the new media creation from a message to have a date and message link. I do think there is a better way to select servers.

[2015-05-03 13:38] tomfuller2 commented on #498
The problem is I have no idea how to fix this. This is part of the new
system you and Eugen developed.

On Sat, May 2, 2015 at 7:56 PM, Brent Cordis <notifications@github.com>
wrote:

[2015-05-03 15:31] bcordis commented on #498
@st-anton @tomfuller2 This should be fixed now.

[2015-05-04 21:05] st-anton commented on #498
Right direction, but still curious behaviour (tested in backend only):
Obviously, the last server I saved in the server page is used as type (in my case: legacy server). So I see all tabs and can fill in all the fileds for legacy server. That fits if I have only one server.
But: switching over to another type of server has no effect: Tabs are not changing. Also the other server is not saved with t

[2015-05-04 21:15] st-anton commented on #526
Test ok -> closed

[2015-05-04 21:15] #526 closed

[2015-05-04 21:23] st-anton commented on #521
`What happens if you select NONE as the html element around the media in the template?` -> Yes, this does work. It is somehow misleading, that the default html element is `paragraph` for all items - also for media.
-> Closed

[2015-05-04 21:23] #521 closed

[2015-05-04 21:36] st-anton commented on #374
Now I can see the modal popup. But:
What do I make wrong? I have some users:
![users](https://cloud.githubusercontent.com/assets/2517417/7462947/df875672-f2b5-11e4-9b59-98fc9ccb3291.png)

But I cannot select anybody, because the selection is not populated:
![contact](https://cloud.githubusercontent.com/assets/2517417/7462969/f6223744-f2b5-11e4-9c67-0fbc6f226015.png)

[2015-05-04 22:20] bcordis commented on #498
Ok I'll do some more checking but I'm close now

[2015-05-05 00:56] bcordis commented on #498
@st-anton ok now it saves right but need to find a way to trigger save on change.  It still requires that date and study_id have to be selected.

[2015-05-05 01:04] bcordis commented on #374
@st-anton well I think we are looking at this in a different way. This field links to contacts not to users. This could be where we are seeing the error?

[2015-05-06 06:07] st-anton commented on #374
You are right. I did not use contacts in the past, so I mixed up users and contacts. This works now.
Closed.

[2015-05-06 06:07] #374 closed

[2015-05-09 16:22] bcordis commented on #538
Fixed @st-anton test.

[2015-05-09 16:24] #535 closed

[2015-05-09 16:25] bcordis commented on #534
@st-anton Can you reproduce this or is it gone?

[2015-05-09 16:26] bcordis commented on #530
This was a big problem and I thinks i fixed this on import but not on export. still need to look into this.

[2015-05-09 20:06] tomfuller2 commented on #530
bsms_styles
bsms_templatefiles
bsms_studies_studytext & studyintro

All need to have new lines intact I think. I tried to fix this but failed.

[2015-05-09 22:38] bcordis commented on #452
@tomfuller2 Looking into the db problem for topics.

[2015-05-09 23:03] bcordis commented on #452
@tomfuller2 @st-anton I'm not seeing any errors in this can you show me some steps to reproduce the errors of the study not saving??

[2015-05-10 00:29] bcordis commented on #459
@st-anton @tomfuller2 Please see fix and test.

[2015-05-10 00:31] bcordis commented on #498
@st-anton please test.

[2015-05-10 00:33] bcordis commented on #497
Fixed.

[2015-05-10 00:35] bcordis commented on #506
@st-anton Fixed please test. fadfb9137715ee7536162bf7826282197752e86b

[2015-05-10 00:36] bcordis commented on #507
Fixed fadfb9137715ee7536162bf7826282197752e86b @st-anton

[2015-05-10 00:40] bcordis commented on #508
You should be able to select different user. I have tested this and it work as expected.

[2015-05-10 00:40] bcordis commented on #508
@tomfuller2 @st-anton Please retest.

[2015-05-10 00:56] bcordis commented on #514
@tomfuller2 @st-anton look like they can right now so i'm putting in a stop to it. will post a fix asap. but this should not happen any way. making sure even if that is unpublished it still works.

[2015-05-10 01:15] bcordis commented on #514
@st-anton @tomfuller2 Please retest.

[2015-05-10 01:26] bcordis commented on #513
@st-anton @tomfuller2 retest.

[2015-05-10 02:49] bcordis commented on #522
@st-anton please retest and let me know if it was fixed.

[2015-05-10 04:15] bcordis commented on #524
@st-anton try testing this.

[2015-05-10 04:19] bcordis commented on #525
@st-anton this should be fixed.

[2015-05-10 04:43] bcordis opened #541 "Save of media updates Size."
This will allow them not to have to put in a size.

I have two options on save or a ajax look up button. debating on time.

[2015-05-10 04:44] bcordis commented on #541
Could fix #528 once this is in place also will look at a ajax update for all media.

[2015-05-10 04:44] bcordis commented on #528
@st-anton This is do to there was no size specified when creating media link. I'm working on a idea to have the size updated on save of media.

[2015-05-10 04:44] #528 closed

[2015-05-10 04:47] bcordis commented on #530
@tomfuller2 So there is a error with new lines on those tables?

[2015-05-10 13:20] bcordis commented on #533
@st-anton please retest.

[2015-05-10 16:31] bcordis commented on #537
@st-anton is this still happening I'm not seeing this message?

[2015-05-10 16:31] #537 closed

[2015-05-10 16:37] bcordis commented on #452
@st-anton Right now i'm not able to reproduce the bug. Need to have someone retest. so i can close this out.

[2015-05-10 16:38] bcordis commented on #500
@tomfuller2 @st-anton I have added a dummy Language files to them for now. will work on them latter.

[2015-05-10 16:38] #500 closed

[2015-05-10 16:41] bcordis commented on #523
@st-anton do you have cache turned on? Not able to see the error.

[2015-05-10 17:04] bcordis commented on #530
@tomfuller2 @st-anton Ok I think i found a solution to the export and import function. Removed escaping from the Quote function. This will keep it cleaner and then hav replaced all \r\n and \r with \n

This will make a cleaner code.

[2015-05-10 18:33] bcordis commented on #532
Fixed.

[2015-05-10 18:33] #532 closed

[2015-05-10 18:36] bcordis commented on #536
Ok lets do that. I'll start making the code for migration.

[2015-05-10 18:57] st-anton commented on #498
`Select a study` opens the popup for servers.
The additional tabs do not appear anymore. So none of the parameters can be filled in.
Popup Box: Unpublished servers are still selectable; this is misleading to the user. At least the published / unpublished state needs to be displayed.

[2015-05-10 19:01] st-anton commented on #538
Fixed ok -> closed.
Batch itself crashes -> new issue will be opened

[2015-05-10 19:01] #538 closed

[2015-05-10 19:09] st-anton opened #542 "Backend Server Batch crashes"
In fact, I do not exactly know, what the Server Batch process is good for. So I klicked here and there. But for reproducing step by step:
- Select a server; it is a legacy one, unpublished.
- press the `Batch` button
- set the access level to `registered`by means of the dropdown menue
- press `process`

Warning: Missing argument 1 for JControllerForm::batch(), called in ...\libraries\legacy\contro

[2015-05-10 19:15] st-anton commented on #534
Not gone :-(

[2015-05-10 19:22] bcordis commented on #498
@st-anton so what view is not showing study any more?

[2015-05-10 19:24] bcordis commented on #534
@st-anton Can you point me to how you produce the error so i debug it better?

[2015-05-10 19:29] bcordis commented on #498
Found the error.

[2015-05-10 19:36] st-anton opened #543 "Import Database crashes"
Export the database and then import a database from end of March 2015:
This makes the database invalid.
Error message
1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '{\'path\':\'\'}'',`media`=''' at line 1 SQL=INSERT INTO `fmnj34_bsms_servers` SET `id`='7',`server_name`='Default',`published`='0',`asset_id`=

[2015-05-10 19:44] st-anton commented on #543
Not sure, whether the database was a export file or a complete Joomla database from phpMyAdmin. I have to set up my site again.

[2015-05-10 19:52] bcordis commented on #498
@st-anton retest. This now is fixed. found the error. and added some better search functions.

[2015-05-10 20:02] bcordis commented on #543
Let me know if I need to fix something? I'm still able to do my import.

[2015-05-11 06:16] st-anton commented on #543
After restoring the site completely from an (windows) backup, I reproduced the bug:
Export the database
modify something - in my case: save a css as copy
Import the database
This gives error: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '{\'path\':\'\'}'',`media`=''' at line 1 SQL=INSERT INTO `fmnj34_bsms

[2015-05-11 06:20] st-anton commented on #534
I will send the database. Simply remove the php date code from the Templates -> Default -> Study List View -> Set Custom PHP String To Time

[2015-05-11 18:22] st-anton commented on #530
In the exported sql file, the __styles table is plain ascii with carriage return, not with `\n`. I think, this is not the favoured format...
Find it in my database I sent you.

[2015-05-11 19:15] st-anton commented on #452
Simple to reproduce:
- Add some topics to a study in the backend (I entered two topics); save and close
- open the study again; see that the topics are still there
- have a look in the _studytopics table: **All topics are entered twice!**
![topic1](https://cloud.githubusercontent.com/assets/2517417/7572440/5ccb9496-f81e-11e4-98be-add2102ab8ec.png)

- Open the same study in the frontend admin study

[2015-05-11 19:23] st-anton opened #544 "Frontend Study Admin: Filter of menue setting does not work"
When setting up a new menue entry for admin of a study, a filter can be set:
![menu1](https://cloud.githubusercontent.com/assets/2517417/7573127/9b6d926c-f823-11e4-9b27-b077da1f3c01.png)

But this selection has no effect. Simply all teachers ... are displayed

Imho, this filter does not make much sense. Can it simply be dropped?

[2015-05-11 19:29] st-anton commented on #459
Still same behaviour.

[2015-05-11 19:33] st-anton commented on #497
Test ok -> closed

[2015-05-11 19:38] st-anton commented on #506
Study selection is fixed -> closed
Server stuff is still open -> This needs to be fixed

[2015-05-11 19:38] #506 closed

[2015-05-11 19:44] st-anton opened #545 "Frontend new / edit media: Yellow message field -> Expect green"
Whne saving a message, the next page says `Message Item successfully submitted.` within a yellow box. It is not absolutely clear, whether this is a warning.
It would be nice to see a green colored field.

[2015-05-11 19:45] st-anton commented on #545
Same situation on save of a study

[2015-05-11 19:47] bcordis commented on #459
Did you clear your cache. I'm not able to reproduce the error now. I'll check again but this was fixed.

[2015-05-11 19:47] st-anton commented on #507
Test ok -> Closed

[2015-05-11 19:47] #507 closed

[2015-05-11 19:48] #497 closed

[2015-05-12 03:41] st-anton commented on #459
I tested with Firefox and IE, cleared the cache of both before, reloaded the page again.
Still the 500 error is present on both.

[2015-05-12 03:56] st-anton commented on #508
Maybe we look at different fields:
- Frontend `Submitted by`showing the current user only. See image above.
- Backend `Submitted by` showing a selection of all Joomla users. Anybody may be selected.
- Frontend and Backend: `Modified by` allows no selection, but the field says `Select a user'. This is confusing.

[2015-05-12 04:09] st-anton opened #546 "Backend new study: Save and add media does act as expected"
Different than #459, the `save and add media`button saves the study, but the next page is again the study edit page. I expected the page to add new media.
Also see #547 .

[2015-05-12 04:16] st-anton opened #547 "Backend new study and add media: Returns to study edit"
When I edit a study, the tab `Media files for this Study` shows the button `Add media file`. (For new studies the button is `save and add media`; see #546). I press the button and enter the media file (still the server mechanism is broken) and `save and close` the media file.
Now I expect to return to the studies list. Instead, I return to the edit of the present study. This does not make sense.

[2015-05-12 04:31] st-anton commented on #514
Work on the templates **list** page.

But: I succeeded to unpublish and even trash the item :-O
Opening the default template and change the status on the right hand menue from published to unpublished or trashed. Save. Now you have an unpublished or even trashed template.

[2015-05-12 04:56] st-anton opened #548 "Frontend Admin study list: New studies are not editable for Editors"
During all my tests I added studies on frontend as well as backend. On frontend I was logged in as SuperUser as well as Editor. On backend I was logged in as SuperUser only.

Curious behaviour when logged in as Editor: All old studies from the migration can be edited, as there is a link present on the study name. All new studies - and even modified studies - cannot be edited, there is no link.
Fix

[2015-05-12 05:02] st-anton commented on #522
Still same behaviour. Clearing the cache and reloading the page does not help.

[2015-05-12 14:40] tomfuller2 commented on #547
It is supposed to return to the study, not the studieslist. That way you
can add multiple media files to a particular study without having to go
back into the study record.

On Mon, May 11, 2015 at 9:16 PM, st-anton <notifications@github.com> wrote:

[2015-05-13 05:34] st-anton commented on #547
Okay, this makes sense.

[2015-05-13 05:34] #547 closed

[2015-05-13 06:01] st-anton opened #549 "Frontend edit mediafile: Multiple podcasts are not detected"
When edit a present media file, the podcasts are not displayed, if there are multiple podcasts. Subsequently no podcast is saved.

[2015-05-13 06:02] st-anton opened #550 "Frontend edit mediafile: Save generates duplicates db entry"
After saving a present mediafile, there are two enties in the database.

[2015-05-13 06:04] st-anton opened #551 "Backend edit mediafile: Multiple podcasts are not detected"
Appears in the backend; same as #549

[2015-05-13 06:07] st-anton commented on #533
This test ok -> closed

[2015-05-13 06:07] #533 closed

[2015-05-13 22:37] st-anton commented on #513
Fixed -> closed

[2015-05-13 22:37] #513 closed

[2015-05-13 22:48] st-anton commented on #524
The popup still shows all servers:
![server1](https://cloud.githubusercontent.com/assets/2517417/7622716/4dc64378-f9d2-11e4-99b6-fb52c3133d5a.png)

Then I found `search tools`and the possibility to select published servers only:
![server2](https://cloud.githubusercontent.com/assets/2517417/7622743/a4e189ec-f9d2-11e4-9687-52b94e648e03.png)
I think, this is what wee need!

[2015-05-13 23:14] st-anton opened #552 "Backend new/edit server: selecting server clears field of server name"
When adding a new server or edit a present one: Changing the server reloads the page (needed for addons) and clears the server name.
Similar than #498

[2015-05-15 01:10] #549 closed

[2015-05-15 01:10] #551 closed

[2015-05-15 01:15] bcordis commented on #550
Can you verify this as of right now it is not duplication. I can't see this on backend or the front end. this could be do to a migration you are seeing.

[2015-05-15 01:19] bcordis commented on #552
@st-anton Not seeing clearing. please update files and retest.

[2015-05-15 01:39] bcordis commented on #514
@st-anton fixed.

[2015-05-15 01:39] #514 closed

[2015-05-15 01:40] #422 closed

[2015-05-15 01:42] bcordis commented on #452
@st-anton Can this be a bug in your php. I'm not able to reproduce this. Can you tell me your states so i my try and create the closes environment.

[2015-05-15 02:05] bcordis commented on #548
@st-anton on the admin page have you verified that the editor has permission to edit the record. I know on migration the permission may not work on the new site. let me know how this test out?

[2015-05-15 02:16] bcordis commented on #543
@st-anton try retesting I think i fixed this now. I'll try and do some more testing to.

[2015-05-15 16:42] st-anton commented on #539
I tried to find the icons of the title and got confusing information.
https://docs.joomla.org/JToolBarHelper/title says:
`JToolBarHelper::title('title','sample');` *This will make the page title "title" and add a class to the toolbar title based upon the second parameter. The css class will be prefixed with "icon-48-". In the example above the class would be: icon-48-sample.*
So: the second parame

[2015-05-15 18:05] st-anton commented on #539
Corrupt icons: Up to 7.1.2 the icons are ok. In 8.0.0 some of the icons are renewed and (nearly) all of them are corrupt and cannot be displayed.
The renewed files are roughly 1.5 to 2 times bigger than the old ones. Maybe this is a bug in the image processing program.

[2015-05-15 21:57] st-anton commented on #550
Verified with up to date php code.
Steps in frontend:
- add a new media; on the page only the tabs `General items`and Àccess Control`are present
- enter study, create date and a legacy server; as no further tabs appear needed for the legacy server, you need to save the item.
- select the new item (it need to be the item with the highest ID), and press edit
- now all tabs for legacy server are pres

[2015-05-15 22:02] st-anton commented on #551
Test ok

[2015-05-15 22:07] st-anton commented on #549
Test ok

[2015-05-15 22:16] st-anton commented on #498
Study item and study date now persist.
Still no further tabs appear, as the trigger on change does not work.

[2015-05-15 22:16] #498 closed

[2015-05-15 22:25] st-anton commented on #514
Test ok

[2015-05-15 22:39] st-anton commented on #552
Retested with up to date php code, not solved.
Steps:
- new server
- on the next page two tabs are present: `Details` and `Template access rules`
- enter a name like 'MyServer'
- select a legacy server type
- as soon as the popup window closes, the page begins to reload (the trigger works here!)
- the tabs for legacy type server appear, but the name of the server is gone
As far as I see, the serve

[2015-05-15 22:55] st-anton opened #553 "Frontend Landing page: A teacher is displayed only if both fields are set"
In the teachers edit, you can set `Show on list view` and `Show on landing page`. Both settings much be enabled to see a teacher on the landing page.
I think, one setting is for the teachers list view and the other is for the landing page; no cross dependency should be present.

[2015-05-16 00:12] bcordis commented on #552
@st-anton Right now i'm trying to remove all reload till we get the the selection fixed. Can you confirm that the page doesn't reload right now?

[2015-05-16 07:43] st-anton opened #554 "Frontend error message: Message in yellow field"
The error `enqueueMessage(JText::_('JERROR_ALERTNOAUTHOR'), 'error');` is given two times as warning instead of an error:
site\views\messagelist\view.html.php line 108
site\views\sermon\view.html.php  line 204
Please change `message`to `error`

[2015-05-16 08:14] st-anton opened #555 "Shorten html code of study listings"
Currently the html code is veeery long, when a study list is presented in the frontend. 30000 to 50000 characters in one line is hard to read. Please modify site\components\com_biblestudy\lib\listing.php  line 434 from
`$list .= $value;`
to
`$list .= "\n\t" . $value;`
With this, each study gets its own line with 1500 to 2000 characters. This has no influence on the rendered output to the user.
Tha

[2015-05-16 09:05] st-anton commented on #523
It happens in my site, but you can see it on Tom's page as well:
http://joomlaoregon.com/jbs/index.php/studies-list
Steps:
- clear cache of the browser
- go to 'studies list'
- make sure, that there is no filter active
- clear browser cache again
- select 'landing page'
- select a series, e.g. Romans or Colossians
- go to 'studies list'

[2015-05-16 09:26] st-anton opened #556 "Frontend edit mediafile: sql error if user is not logged in"
The bug seems to be new since yesterday (2015-05-15):
If I try to access the Admin Media and I'm not logged in as editor, I'm naturally not allowed to access this page. But instead of a error message liek 'not allowed', there is a sql error:

Unknown column 'a.access' in 'where clause' SQL=SELECT COUNT(*) FROM fmnj34_bsms_mediafiles AS mediafile LEFT JOIN `fmnj34_languages` AS l ON l.lang_code = m

[2015-05-16 09:33] st-anton opened #557 "Frontend Study List: Message 'must remove fuction getFilepath'"
Happens on a fresh installation, no migration was performed.
The Studies List show this message on top of the list:
![getfilepath](https://cloud.githubusercontent.com/assets/2517417/7665588/62fd1c3c-fbbf-11e4-8a40-192272d57826.png)

[2015-05-16 09:35] st-anton commented on #557
Found in site\com_biblestudy\lib\listing.php line 2347

[2015-05-16 09:56] st-anton commented on #550
Still the same behaviour.
I set up a new site without migration data (only the 'Billy Sunday' default database coming with the installation). Also I double checked, whether I have the latest sources.

[2015-05-16 10:10] st-anton opened #558 "Menue entry Landing: Shift the Ascending/Descending to template"
Template defines, which entries are visible on the landing page. Also there is a selection of 'Default date Ascending/Descending). But the Ascending/Descending sort is set on the menue entry.

I think, the sort settings should be moved from the menue settings to the template. I cannot imagine that somebody sets up two different landing pages with different settings. The template should contain all

[2015-05-16 12:34] bcordis commented on #550
@st-anton Look like we need to do a hangout and see what is happening. Right now i'm not seeing the it reproduce after deleting the duplicate. Email me times.

[2015-05-16 16:37] #557 closed

[2015-05-16 16:44] #556 closed

[2015-05-16 16:50] bcordis commented on #523
@st-anton @tomfuller2 Ok i see the error looking at a solution.

[2015-05-16 17:08] tomfuller2 commented on #558
I agree we should probably just have it one place or the other

On Sat, May 16, 2015 at 3:10 AM, st-anton <notifications@github.com> wrote:

[2015-05-16 21:43] bcordis commented on #555
@st-anton Sorry that will not work.  It just prints the info onto the page not braking the print out code.

[2015-05-17 00:13] #525 closed

[2015-05-17 00:16] bcordis commented on #527
@tomfuller2 is this still happening?

[2015-05-17 00:33] bcordis commented on #558
@st-anton @tomfuller2 Test.

[2015-05-17 00:40] #554 closed

[2015-05-17 00:53] bcordis commented on #546
@st-anton This will need to be put off as this is not a bug. This was that way in the old system and will need to be change in this version.

[2015-05-17 00:55] bcordis commented on #419
@st-anton This will us all Captcha plugins.

[2015-05-17 14:27] tomfuller2 commented on #558
Tested and works.

[2015-05-17 20:08] st-anton commented on #555
You are right, when writing with single quote:
![listing_singlequote](https://cloud.githubusercontent.com/assets/2517417/7671893/1dae49c6-fce1-11e4-9934-bc19a8a18054.png)

But writing with double quote, this works:
![listing_doublequote](https://cloud.githubusercontent.com/assets/2517417/7671895/2c675a34-fce1-11e4-956f-2bf6e7a835bd.png)

[2015-05-17 22:03] #558 closed

[2015-05-17 22:05] #555 closed

[2015-05-17 22:10] #553 closed

[2015-05-18 05:56] st-anton commented on #550
Just an idea: I have php  5.4.7 on my machine - this is quite old, but should run.
(Joomla is 3.4.1 german, so this is up to date.)

[2015-05-18 06:04] st-anton opened #559 "php 7"
Expected October 2015
https://wiki.php.net/rfc/php7timeline
Some incompatible changes are expected

[2015-05-18 10:44] bcordis commented on #559
Interesting info maybe next year.

Sent from my iPhone

[2015-05-18 21:39] st-anton commented on #552
It does reload und thus clear the server name field.

[2015-05-18 22:04] st-anton commented on #522
A related effect occurs: If the latest study is unpublished or the access level is higher (i.e. access is not allowed), the message occurs: Study not found.

[2015-05-18 22:06] st-anton commented on #554
Thanks!

[2015-05-18 22:10] bcordis commented on #522
So how should the error look?

[2015-05-19 03:29] bcordis commented on #552
@st-anton Ok I need to see this on your server. I'm not seeing any JS code on the Development branch that will do this. Can you help me out by checking your code on your dev box to the development branch and see if you see a difference. I'm not sure where the call is coming from on your system.

[2015-05-19 03:32] bcordis commented on #552
@st-anton Ok now i found it. needed to read better. I'm looking into a solution now.

[2015-05-19 19:36] st-anton commented on #522
![linklatest](https://cloud.githubusercontent.com/assets/2517417/7712040/06295a72-fe6f-11e4-8fa9-04b7521aeee2.png)

[2015-05-19 22:56] bcordis commented on #552
@st-anton test @tomfuller2

[2015-05-19 22:57] bcordis commented on #545
@st-anton test @tomfuller2

[2015-05-19 23:12] #542 closed

[2015-05-20 00:08] bcordis commented on #541
Done.

[2015-05-20 00:08] #541 closed

[2015-05-20 01:20] bcordis commented on #550
@st-anton I have fixed the save problem took some time. please Test. @tomfuller2

[2015-05-20 02:20] bcordis commented on #522
That sound like need to look at that more.

Sent from my iPhone

[2015-05-20 06:10] st-anton commented on #552
Test ok! :-)) Closed

[2015-05-20 06:10] #552 closed

[2015-05-20 06:14] st-anton opened #560 "Backend new legacy server: Image is mandatory? URL is not?"
Adding a new legacy server needs some additional entries. Questions:
- The URL is not mandatory. Is this ok? Does an empty field mean: Use the URL of the site?
- the image field is mandatory. Why?

[2015-05-20 06:19] st-anton opened #561 "Backend new legacy server: Save and close checks mandatory fields, save does not"
Adding a new legacy server and save: Mandatory fields like image (see #560) are not checked; save displays a message `Item successfully saved.`. I think, this is not ok.
If I use 'save and close', the mandatory fields are checked and save is rejected. This is the normal behaviour.

[2015-05-20 10:20] bcordis commented on #561
Not sure there is anything I can do here. I could make the image not mandatory. The image is a default used for that type of media so on a page it shows the icon. I do need to finish the new copy to image folder so they can select them.

[2015-05-20 10:25] #132 closed

[2015-05-20 10:26] #140 closed

[2015-05-20 10:28] bcordis commented on #154
This is been fixed.

[2015-05-20 10:28] #154 closed

[2015-05-20 10:28] #284 closed

[2015-05-20 10:32] bcordis commented on #452
Re testing this.

[2015-05-20 10:34] bcordis commented on #459
This is a design and will have to change if needed.

[2015-05-20 10:36] #476 closed

[2015-05-20 10:39] bcordis commented on #508
Ok that is a bug will look into the difference.

[2015-05-20 10:40] #530 closed

[2015-05-20 19:01] st-anton opened #562 "Frontend new media: Server selection ends in 'invalid form'"
Selecting a server (tested Anazon and legacy) let a popup message appear: 'invalid form'
![server1](https://cloud.githubusercontent.com/assets/2517417/7733967/0c823dde-ff33-11e4-80cd-d5a3357ad99f.png)
Klicking on OK lets the server selection form (modal box) disappear. But neuther `save and close` nor `cancel` (!!!) allows leaving this page, always the popup `invalid form` comes up.

[2015-05-20 19:01] st-anton commented on #550
Cannot test; see #562

[2015-05-21 00:27] bcordis commented on #562
Amazon is not ready for production and will need to be removed before beta.

Thanks,
Brent Cordis
2406 Hermitage Park Dr.
Hermitage, TN 37076
615.429.6426

On Wed, May 20, 2015 at 2:01 PM, st-anton <notifications@github.com> wrote:

[2015-05-21 05:57] st-anton opened #563 "Server Local: Is Base URL mandatory?"
Base URL is written with `*`. Does this mean, it is mandatory?
If yes, it should be checked before saving (also see #561).
If not, the asterisks should be removed.
And: Is it needed at all?

Another inconveniance: The phrases in admin\com_biblestudy\addons\servers\local\local.xml are not translated; neither the description nor the field description (*Base URL*)

[2015-05-21 06:03] st-anton commented on #562
Happens with all types of servers. Happens also with published and unpublished servers.

[2015-05-21 09:51] bcordis commented on #562
That is not good I'll look at it ASAP.

[2015-05-22 02:27] bcordis commented on #563
Any thing with a * by it is Mandatory. Needs to be looked into.

[2015-05-22 02:28] bcordis commented on #562
Fixed the save problem.

[2015-05-22 02:28] bcordis commented on #562
@st-anton Can you retest.

[2015-05-22 02:57] bcordis commented on #561
I'm going to remove the Requirement. Not needed to be Required. We can revisit this if needed.

[2015-05-22 03:00] bcordis commented on #560
Image is used as a default for media image but is not required. Removed.
URL is the root server name of the hosting environment. if local then you must put that info in.

[2015-05-22 03:01] bcordis commented on #550
@st-anton fixed #562 please Retest

[2015-05-22 20:13] st-anton commented on #534
Just sent a new db and the code by mail

[2015-05-22 20:25] st-anton commented on #452
Exactly the situation I described up there (https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/issues/452#issuecomment-101020517).
Happens on the database and the code I just sent you.

[2015-05-22 20:36] st-anton commented on #562
Works well for legacy, amazon and local - except for ftp server.
Loading the addon for ftp server ends in error `Fehler JForm::getInstance could not load file`.

[2015-05-22 20:40] st-anton commented on #545
No change, still yellow

[2015-05-22 20:45] st-anton opened #564 "Frontend / Backend new / edit media: Local Server has strange field 'status'"
When adding / editing a media in frontend or backend with server 'local' I get a tab `publishing`.
Within this tab there is a field `status`, but there is no value or selction to be set; no dropdown or similar.

[2015-05-22 21:00] st-anton commented on #550
Test ok! Closed

[2015-05-22 21:00] #550 closed

[2015-05-23 00:55] bcordis commented on #545
@st-anton This is a core message and we would have to hack their system. I'm not looking at doing this as it would make us maintain too much code.

[2015-05-23 00:55] #545 closed

[2015-05-23 01:01] #560 closed

[2015-05-23 01:07] bcordis commented on #562
@st-anton @tomfuller2 Removing Amazon and FTP and ExtenrlLink for now. 9.1.0

[2015-05-23 01:07] #562 closed

[2015-05-23 02:05] bcordis commented on #524
@st-anton Fixed. This was a error with the modal view so I have added the code to fix this view.

[2015-05-23 02:05] #524 closed

[2015-05-23 03:02] bcordis commented on #452
@st-anton Please retest as i have found the bug.

[2015-05-23 06:39] st-anton commented on #524
Done.

[2015-05-23 06:44] st-anton commented on #562
Both frontend and backend ok.

[2015-05-23 06:49] st-anton commented on #564
Now it is even more curious: The only selectable setting is 'unpublished', but published - unpublished - trashed is settable in the `General items`tab.
What is this selection good for?

[2015-05-23 07:01] st-anton commented on #563
I add  `required="true"` to
\administrator\components\com_biblestudy\addons\servers\local\local.xml  line 10
Now I got the effect of #561. I think, the  `required="true"` is needed; also I will reopen #561

[2015-05-23 07:04] st-anton commented on #561
The functionality is needed - sooner or later. Currently, we need it for #563

[2015-05-23 09:35] st-anton commented on #555
Thanks!

[2015-05-23 09:40] st-anton commented on #556
Test ok

[2015-05-23 10:12] st-anton commented on #529
During migration (I used a 8.0.0 database), the \n in the _styles are treaded wrong:
![css](https://cloud.githubusercontent.com/assets/2517417/7783471/150696a4-0144-11e5-83fc-2ae03af32a6b.png)
With this, the generated biblestudy.css is inoperative.

Beside this bug, I assume, that it makes no sense to migrate the _styles table as the responsive code in fact does not use the old fashioned css entri

[2015-05-23 10:41] st-anton commented on #545
OK, don't let us hack the core.

[2015-05-23 10:50] st-anton commented on #452
Unfortunatelly not fixed

[2015-05-23 10:55] st-anton commented on #476
Test ok, works well.

[2015-05-23 11:02] st-anton commented on #530
Tested ok

[2015-05-23 11:17] st-anton commented on #548
Now the editor can edit studies that were added by admin or editor recently. But he cannot edit migrated one; that's not a big problem.
Need to play with this and see whether we can close this issue.

[2015-05-23 11:19] st-anton commented on #543
Tested ok -> closed

[2015-05-23 12:10] bcordis commented on #529
This was do to a bug in 8.0.9- on the export of there do. I have fixed that
problem. It was a double escaping the export.

Try updating the export file and then migrate the exported dB.

I think we should also move away from the dB to as it makes problems.

On Saturday, May 23, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-05-23 12:10] bcordis commented on #452
Looking more. Bad bug.

On Saturday, May 23, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-05-23 16:38] bcordis commented on #548
@st-anton try running fix assets and see if that fixes it. i added some more code to help with migrating. Also placed safety checks to make sure code cannot be run without it coming from joomla.

@tomfuller2 FYI this is a big update to fix a lot of safety checks. Realy close now.

[2015-05-23 17:07] bcordis commented on #564
@st-anton Fixed.

[2015-05-23 17:07] #564 closed

[2015-05-23 17:10] tomfuller2 commented on #548
Thanks so much Brent and Anton!

On Saturday, May 23, 2015, Brent Cordis <notifications@github.com> wrote:

[2015-05-23 19:23] tomfuller2 opened #565 "Issues with backend media add"
Added a new legacy server with a path: www.calvarychapelnewberg.net/MediaFiles/2015/
Added a new media file. Chose server. No options for parameters. Had to Save, then all parameters came up. Is this expected behavior? If so we need to EXPLAIN this to the user.

When I saved I had options such as filename. Tried upload. Seemed to be successful but file was not actually uploaded to that server.

Fi

[2015-05-23 19:27] tomfuller2 opened #566 "Component & Module fatal error"
Fatal error: Class 'JBSMMedia' not found in /home1/joomlaor/public_html/joomlaoregon_com/jbs/components/com_biblestudy/lib/listing.php on line 2134

With module enabled this is the error - I can't get any more details on this from my server. Site dies.
When going to study listing get same error and site dies.
Using code as of 5-23-2015

[2015-05-23 20:25] bcordis commented on #566
Is the is on development branch or is this on the eight point X branch?

[2015-05-23 20:28] bcordis commented on #565
Please update to new code as this is has been fixed in the development branch and will automatically reload the page with the newest stuff and you will not lose your savings of the core fields.

[2015-05-23 20:28] #565 closed

[2015-05-23 21:42] st-anton opened #567 "Frontend edit study: Type mismatch?"
site\views\messageform\tmpl\edit.php  line 125
Should it be script2 instead of script1 ?

[2015-05-23 21:50] tomfuller2 commented on #566
Development

On Saturday, May 23, 2015, Brent Cordis <notifications@github.com> wrote:

[2015-05-23 21:51] tomfuller2 commented on #565
I was using development branch. Pulled just this morning

On Saturday, May 23, 2015, Brent Cordis <notifications@github.com> wrote:

[2015-05-23 22:24] bcordis commented on #565
The selecting a server on the media edit page should reload the page on selection of the server? Did that happen?

[2015-05-23 22:31] st-anton commented on #457
I found it:
please replace `$this->params->` by `$this->state->params->` in
site\views\messageform\tmpl\edit.php

[2015-05-23 22:34] st-anton opened #568 "Frontend new / edit study: No entry for study image"
In the backend there is a field `Study Image` (tab `Item information`).
This is missing in the frontend.

[2015-05-23 22:35] bcordis commented on #457
Thanks.

[2015-05-23 22:39] st-anton opened #569 "Frontend new study: Save and Add a Media crashes"
When adding a new study there is a link 'Click to Save and Add a Media File`(tab `Media Files for this study`).
This ends in a `500 Layout default not found.`

[2015-05-23 22:42] bcordis commented on #565
@st-Anton can you test this and see if it is happening to you? I'm not seeing it on my chrome browser.

[2015-05-23 23:02] st-anton commented on #565
When selecting the server, the additional parameters are loaded and displayed. This works well. (Firefox browser)

Upload: I'm on a local host on my PC (xampp), so I expect the upload will not work. Cannot test with my environment.

Filesize does not work, always 0

Image is a mandatory field. If the user should enter an icon here, we should offer the default icons (see #536)

[2015-05-23 23:44] bcordis commented on #565
Upload should work on local host if not we have problem. Let me know. I need to remove this upload system from all other systems then local till we get support for it. Local I need to add some additional fields as they are missing.

[2015-05-23 23:45] bcordis commented on #569
Look like the layout is not being set right will re look at it.

[2015-05-24 14:18] tomfuller2 commented on #566
There must have been old files that persisted. I replaced all the files on the joomlaoregon/jbs site and now I get a different error:
Table 'joomlaor_jo5759.s6hej_bsms_folders' doesn't exist SQL=SELECT media.*,server.id as serverid, server.server_path as spath,folder.folderpath as fpath,image.media_image_path AS impath, image.media_image_name as imname, image.path2,study.media_hours, study.media_m

[2015-05-24 14:55] bcordis commented on #566
Still looks like a file is messed up will have to search for that file. I'll look at this tonight when I get back.

[2015-05-25 19:36] #569 closed

[2015-05-25 19:57] bcordis commented on #567
I'm not sure this field is needed at all. I don't see that in the database or in the code.
Removed from the line.

[2015-05-25 19:57] #567 closed

[2015-05-25 19:59] bcordis commented on #566
@tomfuller2 I have looked through all our code and we do not use #__bsms_folders in any of it. Please recheck and see what is up.

[2015-05-25 20:00] #548 closed

[2015-05-27 19:00] st-anton opened #570 "Administration check assets throws token error"
Checking the assets get: The most recent request was denied because it contained an invalid security token. Please refresh the page and try again.
Going back to admin page, logout of backend or refresh of the page does not change the situation.

[2015-05-27 19:12] st-anton commented on #508
Joomla documentation mention nothing about a difference between admin and site.
Maybe this helps: The link to call the modal box is:
admin: http://localhost/j34_test/administrator/index.php?option=com_users&view=users&layout=modal&tmpl=component&field=jform_user_id
site: http://localhost/j34_test/index.php/component/users/users?layout=modal&tmpl=component&field=jform_user_id
If I fake the link in

[2015-05-27 19:16] st-anton opened #571 "Frontend new / edit study: No entry for access level"
Access level can be set in the backend, but not in the frontend

[2015-05-27 19:31] st-anton opened #572 "Frontend new study: Save and add media opens modal popup / server selection crashes"
The Save and add media opens a modal popup. There the study and the date needs to be filled in again :-(
Continuing: Selecting the server opens a modal popup on top of the modal popup. Selecting the server closes both.
Even more curious: The next time I start the sequence, the behaviour is different !?!
Sometimes, the modal boxes are closed and an old media is opened.

[2015-05-27 19:40] st-anton opened #573 "Backend new study and add media: Default server is set, but tabs are missing"
Oposit to the frontend, the study, the date and the default server is filled in :-)
But: the server related tabs are missing.

[2015-05-27 19:45] st-anton commented on #548
Works

[2015-05-27 19:49] st-anton commented on #568
Image can be selected, but it is not stored in the db.

[2015-05-27 19:53] st-anton commented on #568
This happens as well in the backend: Not stored.

[2015-05-27 19:55] st-anton commented on #569
see #572; closed here

[2015-05-27 19:58] st-anton commented on #564
Test ok

[2015-05-27 20:03] st-anton commented on #543
Crashes with token error: `The most recent request was denied because it contained an invalid security token. Please refresh the page and try again.`

[2015-05-27 20:12] st-anton commented on #546
OK - It's ok for me. Closed

[2015-05-27 20:12] #546 closed

[2015-05-28 17:39] bcordis commented on #571
I'm not sure there is a way in the fontend but I'll look to see if it's
able.

On Wednesday, May 27, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-05-28 18:32] st-anton commented on #570
Check does work now. I see an additional (?) column `JBS_ADM_ARULESROWS` that is not translated. Also there is no explanation of this column in the footer of the table. (I get a mass of red numbers here.)

[2015-05-29 15:42] st-anton opened #574 "Frontend / Backend upload to local server: Unclear how it should work"
I added a local server, the path is `http://localhost/j34_test/media/com_biblestudy/studies`
Is this a correct path?

When adding a new media, I select this server, then I have to fill in the tab 'Upload'. What does the field 'Enter an upload path' expect? The URL (see above)? The path, where the file is taken from?

The I klick on 'Add file' and select a media file from my harddisc. Pressing 'upl

[2015-05-29 15:52] st-anton commented on #459
Now the 'save and add media file' does not crash anymore, the study is saved.
But afterwards, it does not open the same study in order to add a media file, but starts a new study to fill in.

[2015-05-29 16:30] tomfuller2 commented on #574
I experience the same thing. File does not appear to actually upload

On Friday, May 29, 2015, st-anton <notifications@github.com> wrote:

[2015-05-29 16:32] st-anton commented on #574
...and we need to explain it better.

[2015-05-30 09:35] st-anton commented on #534
One step ahead: It happens when Joomla language debugger is enabled.
This sounds plausible: The date string is parsed once more for correct translation. Sounds like a Joomla core problem. I will try to get a little deeper or give up soon.

[2015-05-30 10:47] st-anton commented on #534
Internet is full of discussions about this issue. It seems to be related to:
- tmp or log folder not writable
- tmp or log folder not set correctly during Joomla installation
- bug in Joomla 3.0.x
- mySQL driver PHP is using
- php.ini settings
- setting in plugins/system/yt/includes/libs/yt-minify.php

and others.
We should have in mind, if somebody got a problem like this.
This issue can be close

[2015-05-30 10:47] #534 closed

[2015-05-30 17:00] bcordis commented on #574
I'll have to fix this. file should upload to the correct folder. I'll retest for this.

[2015-05-30 17:42] #572 closed

[2015-05-30 17:42] #573 closed

[2015-05-30 18:07] bcordis opened #576 "Default images"
There is a problem with the way we do the default images. If I code them into the View it could make it every time a user saves the data the default would apply even if they did not want it.

The only thing i would like to find a way to apply defaults on New creations not edits of existing records.

@tomfuller2 @st-anton  Please let me know how you feel about this.

!!This almost goes for all defa

[2015-05-30 19:19] #570 closed

[2015-05-30 19:19] bcordis commented on #570
if you have red numbers need to do Fix. sorry for that. I have updated this. now.

[2015-05-30 19:20] #566 closed

[2015-05-30 19:20] #568 closed

[2015-05-30 19:35] bcordis commented on #527
@tomfuller2 I'm not able to reproduce this. can you please retest?

[2015-05-30 19:38] bcordis commented on #527
@st-anton also could you test. Next version we are looking at removing this view. it is a duplicate almost of migrate.
@tomfuller2

[2015-05-31 04:31] tomfuller2 commented on #576
Why couldn't there be a default images drop down, like we have now, and a
way to upload a new image. If the upload a new image field is filled in,
then it doesn't use the value from the default images field. Does that
answer your question?

On Sat, May 30, 2015 at 11:07 AM, Brent Cordis <notifications@github.com>
wrote:

[2015-05-31 04:52] st-anton opened #577 "Installation crashes"
...with the message: `The most recent request was denied because it contained an invalid security token. Please refresh the page and try again.`

[2015-05-31 04:55] st-anton commented on #576
I understand the question in a different way: Like a new study gets default values (teacher, location...) the image should be assigned to the new study. I think, this is simply the same way default values works today. If there is no default image, then the user has to assign an individual image every time.
We should create no different way or further automatic.
@tomfuller2 : The media manager alre

[2015-05-31 11:55] bcordis commented on #576
Is there any time when they do not want to use a image?

Sent from my iPhone

[2015-05-31 12:05] bcordis commented on #576
A little more.

A person makes a new study but does not want to us a image ( other default valued field) so they clear the field and save. When they come back to that study to edit it they get the default value again and them if they forget to check it and save the new default value saves.

[2015-05-31 13:41] tomfuller2 commented on #576
A user should not set a default image if they don't want to have to deal
with it. I think I agree with Anton's approach here.

On Sun, May 31, 2015 at 5:05 AM, Brent Cordis <notifications@github.com>
wrote:

[2015-05-31 15:37] #577 closed

[2015-05-31 15:38] bcordis commented on #576
Ok i'm adding the code back in.

[2015-05-31 16:01] st-anton commented on #527
Works on my machine.
I agree: It would be fine to have one combined import function for old (migration) and actual (restore) db, if it is not too much effort.

[2015-05-31 16:02] st-anton commented on #543
Works well -> closed

[2015-05-31 18:32] st-anton commented on #577
Test ok

[2015-05-31 18:59] st-anton opened #579 "Frontend new study: crash"
Error message:
Fatal error: Call to undefined function dump() in ...\components\com_biblestudy\views\messageform\tmpl\edit.php on line 389

[2015-05-31 19:18] st-anton commented on #532
Test ok

[2015-05-31 19:28] st-anton commented on #553
Test ok

[2015-05-31 19:38] st-anton opened #580 "Folder \images\BibleStudy with upper case letters?"
All the Joomla folders have lower case letters only. So I would prefer `biblestudy` instead of `BibleStudy`.

[2015-05-31 19:43] st-anton opened #581 "Frontend new media: Default for podcast is not filled in"
This works in backend

[2015-05-31 19:44] st-anton commented on #573
Test ok

[2015-06-01 03:16] bcordis commented on #580
@st-anton should be fixed now.

[2015-06-01 03:16] bcordis commented on #574
@st-anton @tomfuller2 Should be fixed now.

[2015-06-01 03:37] #581 closed

[2015-06-01 03:37] #579 closed

[2015-06-01 05:43] st-anton opened #582 "Icons for media: Speaker, pdf, video..."
The image for media is mandatory. Ifaik this is the media icon like speaker24.png pdf24.png textfile24.png and so on.
Can you please copy (move?) the appropriate icons to \images\biblestudy\. during installation?

[2015-06-02 08:59] bcordis commented on #582
Yes

[2015-06-02 16:42] st-anton commented on #579
Test ok

[2015-06-02 17:00] st-anton opened #583 "Uninstall: Image folder is not deleted"
Just a reminder for me. Unclear whether this is good. I need to test uninstall -> reinstall

[2015-06-02 19:05] st-anton commented on #580
Now there is no folder generated during installation anymore

[2015-06-02 19:23] st-anton commented on #452
Now the same happens on the backend.

[2015-06-02 19:25] st-anton commented on #568
Works well.

[2015-06-02 19:26] st-anton commented on #570
Fixed, ok.

[2015-06-02 19:29] st-anton commented on #581
Test ok

[2015-06-02 19:32] st-anton commented on #571
Cannot find the field.

[2015-06-02 19:35] st-anton commented on #572
Test ok

[2015-06-02 19:43] st-anton commented on #529
I used a db of 8.0.0. I guess the problem was in all the time. Should be force the user to update to 8.0.9 first, then export and import? With this the migration from 7.x.x and 8.0.0 within the 9.0.0 would not make sense.
Anyway, lets drop the _styles table and move to plain css file and don't think about this anymore.

[2015-06-02 19:50] st-anton commented on #580
Ups, suddenly during the test session it is there !??!

[2015-06-02 19:51] st-anton opened #584 "Frontend and Backend new / edit media: Filesize is not saved"
db entry params -> "size" is always 0

[2015-06-02 20:33] bcordis commented on #580
It only creates the folder on save.

On Tuesday, June 2, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-02 20:33] bcordis commented on #584
This is do to it can't find the media.

On Tuesday, June 2, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-03 12:28] st-anton commented on #580
I think different of the images folder (also see #582 and https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/issues/536#issuecomment-94198309):
The folder is set up during install, the images needed for media (speaker, pdf, video, textfile...) is copied into it. Then user may upload his own images into it. During save of study, serie, media and so on, more and more images will be add.

[2015-06-03 12:46] bcordis commented on #580
I was seeing there was no option to select existing media images so I will update that ASAP.

[2015-06-05 21:09] tomfuller2 opened #585 "Export of templatecode tables broken in 8.08"
When I've tried to import an 8.08 db I get an error about the templatecode table.

In the backup it appears like this:
--
-- Dumping data for table `s6hej_bsms_templatecode`
--

INSERT INTO `s6hej_bsms_templatecode` SET ;
INSERT INTO `s6hej_bsms_templatecode` SET ;
INSERT INTO `s6hej_bsms_templatecode` SET ;
INSERT INTO `s6hej_bsms_templatecode` SET ;

Can you look into why it's not exporting corr

[2015-06-05 23:05] tomfuller2 commented on #585
Here is the contents of the table as it is on my church site:

INSERT INTO `jos_bsms_templatecode` (`id`, `published`, `type`, `filename`, `asset_id`, `templatecode`) VALUES
(1, 1, 1, 'fluidsermonlist', 6272, '<?php\r\n\r\n/**\r\n * Helper for Template Code\r\n *\r\n * @package    BibleStudy.Admin\r\n * $author		Tom Fuller www.CalvaryChapelNewberg.org\r\n * @copyright  (C) 2007 - 2013 Joomla Bible

[2015-06-05 23:59] bcordis commented on #585
Can you tell me if you updated your export lib to the same as the 8.x version there is a bug that I have fixed in 8.0.8

[2015-06-06 02:03] tomfuller2 commented on #585
Yes - I'm using 8.08

On Fri, Jun 5, 2015 at 4:59 PM, Brent Cordis <notifications@github.com>
wrote:

[2015-06-06 02:10] bcordis commented on #585
There is a 8.0.9 version out now. But not released.

Sent from my iPhone

[2015-06-06 11:34] bcordis commented on #584
@st-anton Can you check to see if your media is properly available to the server? Like look at the path and see if you can see it through the browser.

[2015-06-06 11:37] bcordis commented on #571
@st-anton @tomfuller2 Right now its in different spots compared to the backend Should we make it the same?

[2015-06-09 16:54] tomfuller2 opened #586 "Full server path and filesize not working on all files from previous version"
Using the June 3 code, I created a site: www.joomlaoregon.org/jbs that had JBS 8.08, imported my current church db, then installed JBS 9.
The install went well with no errors.
Embed code (YouTube) plays
mp3 files do not. The proper server is selected but only the final path is being used, not the website.
So instead of: www.calvarynewberg.net/MediaFiles/2015/2015-018.mp3 it appears to just try to

[2015-06-09 23:04] tomfuller2 commented on #586
A dump of $media produced by getMediaRows2() in site/helper/media.php gives us:

Application: site

Lock Window Refresh Close Window Expand all Collapse all

    [stdClass object] (unknown name) Tooltip
        Properties
            [string] access = "1"
            [string] asset_id = "32624"
            [string] booknumber = "142"
            [string] chapter_begin = "1"
            [string] ch

[2015-06-09 23:14] tomfuller2 commented on #586
So now I'm sure what's wrong. The popup gets the proper path: spath + params->filename.

and in the page source of the popup here is the filename: 'file': 'http://www.calvarychapelnewberg.net/MediaFiles/2015/2015-018.mp3',;

But only the filename as text (which I had in the params so that's okay) shows up, but no file plays or shows up as in icon.

[2015-06-12 23:20] bcordis commented on #585
I still need to look at see if we are using the same export code. This would help.

[2015-06-12 23:22] bcordis commented on #586
@tomfuller2 Fixed do to ; in jqplayer code.

[2015-06-15 20:52] tomfuller2 commented on #586
Works now!

[2015-06-15 20:52] #586 closed

[2015-06-18 23:44] bcordis commented on #584
@tomfuller2 Can you also try testing this?

[2015-06-18 23:44] bcordis commented on #583
Not sure we want to uninstall the folder if they save the content there.

[2015-06-19 04:42] tomfuller2 commented on #583
Right. Should not delete

On Thursday, June 18, 2015, Brent Cordis <notifications@github.com> wrote:

[2015-06-19 16:50] tomfuller2 commented on #584
Need to put in an override if user has put in a value in filesize.

[2015-06-24 11:32] bcordis commented on #523
Needs to be tested.

[2015-06-28 15:30] st-anton opened #587 "Button of Administration -> Database functions have no text"
On a fresh installation, the buttons have no text:
![admin_dbfunctions](https://cloud.githubusercontent.com/assets/2517417/8396947/2cadcab4-1dbb-11e5-8804-648293617a77.png)

[2015-06-28 15:34] st-anton commented on #543
Happens again on the current version

[2015-06-28 15:37] st-anton commented on #543
Sorry, wrong issue

[2015-06-28 15:37] #543 closed

[2015-06-28 15:39] st-anton opened #588 "Export of database crashes with token error"
Message says: `The most recent request was denied because it contained an invalid security token. Please refresh the page and try again.`
I guess, it is similar to #543

[2015-06-28 15:41] st-anton commented on #588
`Generate alias` does not work as well.

[2015-06-28 15:51] st-anton opened #589 "Admin set defaults: Creating thumbnails hangs up"
I changed the system default setting for study in the admin view. This leads to a popup message: `You modified the default thumbnail size(s). Thumbnails will be recreated for: teachers,series,studies. Click OK to continue` (even if I did not change the sizes). Clicking OK, the 'creating thumsnails' hangs up and works (?) endless:
![creating_thumbnails](https://cloud.githubusercontent.com/assets/25

[2015-06-28 15:54] st-anton commented on #589
This happens every time, when I press the 'save' button in the administration view, regardless what I did. Subsequently, no change is stored.

[2015-06-28 16:10] st-anton opened #590 "Backend new media: Addon language cannot be loaded"
Right after clicking on 'new', the message appears:
An error has occurred. 0 Addon language could not be loaded

[2015-06-29 14:13] genu commented on #589
@st-anton So what happens, is that dialog should only show up if the thumbnail sizes were changed.
![image](https://cloud.githubusercontent.com/assets/928780/8409648/4530c104-1e47-11e5-8904-a981e1cb3f6f.png)

If they were changed, then it will go back to all the thumbnail that exist, and resize them. That is the idea here.

Once the thumbnails are resized, then it saves the settings.

Something is

[2015-06-29 14:24] genu commented on #589
Maybe fixed in last commit, need to validate.

[2015-07-01 23:30] bcordis commented on #584
@st-anton Should be fixed now.

[2015-07-01 23:30] #584 closed

[2015-07-01 23:30] bcordis commented on #585
Moving to Core export db.

[2015-07-01 23:31] bcordis commented on #571
Fixed.

[2015-07-01 23:32] bcordis commented on #523
Closing unless we can reproduce it. Right now I can't after patch

[2015-07-01 23:40] #419 closed

[2015-07-01 23:43] bcordis commented on #527
Fixed. Closing as will make new ticket when change.

[2015-07-01 23:43] #527 closed

[2015-07-04 19:28] st-anton commented on #589
Now the 'Creating Thumbnails' is only invoked when an image size was changed. Works fine.

But stll, the creating itself runs endlessly. Maybe it is caused by lack of images. Example: I changed the teachers image size, but I do not have any teacher image in my system.

[2015-07-04 19:39] bcordis commented on #589
That may need to have some more checks to see if image exists before trying to Chang them. @eugen needs to double check this.

Sent from my iPhone

[2015-07-06 19:13] st-anton commented on #589
I added an image to one teacher, then changed the teacher thumbnail size. Still the same behaviour.
Where should the thumbnails be located? Are they generated first time, when adding them to the tacher, series, study?

[2015-07-07 18:50] st-anton commented on #576
The behaviour is unexpected to me: If I edit a present teacher without an image, but having defined a default image, it is filled in in the field. This looks like the the teacher has this image in the database, even if it is not.
My suggestion: Filling in the default image the same way as other default entries are filled in (example for study edit):
`empty($this->item->studytitle) ? $this->admin_p

[2015-07-07 18:52] st-anton commented on #580
Works well

[2015-07-07 18:52] #580 closed

[2015-07-07 18:53] st-anton commented on #536
Works well.

[2015-07-07 18:53] #536 closed

[2015-07-07 19:18] st-anton commented on #584
I can fill in the filesize in the backend. Frontend not yet tested.

[2015-07-08 16:35] st-anton commented on #571
The field is still missing. I tried the following code and it worked as expected:
site\components\com_biblestudy\views\messageform\tmpl\edit.php line 373

						<div class="control-group">
							<div class="control-label">
								<?php echo $this->form->getLabel('access'); ?>
							</div>
							<div class="controls">
								<?php echo $this->form->getInput('access'); ?>
							</div>
						</

[2015-07-08 21:17] st-anton commented on #515
Test ok

[2015-07-08 21:22] st-anton commented on #523
It's still present with the current code

[2015-07-08 21:23] st-anton commented on #582
Well done!

[2015-07-08 21:23] #582 closed

[2015-07-09 11:20] bcordis commented on #571
You are right the rules are there but the access is missing. Will add ASAP.

[2015-07-10 15:21] st-anton commented on #574
I installed the component on a real server and tried to upload a media.
First attempt was to press the `Add File` button (is it a button?). Nothing happened.
![upload](https://cloud.githubusercontent.com/assets/2517417/8621773/bab46b40-2727-11e5-92ad-e607ec364f8e.png)
The `upload` button has no reaction as well.
Then I add a filename like `c:\temp\study.mp3` and pressed the buttons again. No react

[2015-07-10 15:25] st-anton commented on #574
Same for Frontend. No reaction.

[2015-07-24 03:25] bcordis commented on #590
Can you retest this. I'm not able to reproduce this on a clean install. Also put down steups that you took after task=admin.dbreset to get the error.

[2015-07-24 04:19] #587 closed

[2015-07-24 04:20] #583 closed

[2015-07-25 12:54] bcordis commented on #590
@st-anton @tomfuller2 @genu This is do to the default server not being set in admin. Will need to find a fix for this on new install and on migration.

[2015-07-25 12:56] bcordis commented on #574
@st-anton @tomfuller2  please retest as this should be fixed now.

[2015-07-25 15:54] bcordis commented on #576
@st-anton Can you point me to ones that are not doing this. I have a lot of other bugs to look over.

[2015-07-25 15:55] bcordis commented on #561
Fixed.

[2015-07-25 15:55] #561 closed

[2015-07-25 15:56] bcordis commented on #563
@st-anton This is mandatory and should be required.

[2015-07-25 15:56] bcordis commented on #563
Working now. closing.

[2015-07-25 15:56] #563 closed

[2015-07-25 19:31] bcordis commented on #589
I can confirm this is not working. Need more help on this on @genu

[2015-07-25 20:54] #588 closed

[2015-07-25 20:59] bcordis commented on #411
completed.

[2015-07-25 20:59] #411 closed

[2015-07-25 22:20] bcordis commented on #522
I have teste this and it is working right now.

[2015-07-25 22:20] #522 closed

[2015-07-25 22:46] #571 closed

[2015-07-25 23:04] bcordis commented on #452
@st-anton This should be fixed now.

[2015-07-26 02:46] bcordis commented on #320
@tomfuller2 Found some errors. Fixed some but you will have to verify.

[2015-07-26 03:58] bcordis commented on #320
Tested and is working. Only external URL are not working under the native joomla image preview.

[2015-07-26 03:58] #320 closed

[2015-07-26 04:00] bcordis commented on #576
I have also update the code to now only add defaults to the page on new creation not editing a old one.

[2015-07-26 04:00] #576 closed

[2015-07-26 04:00] #452 closed

[2015-07-26 04:04] #574 closed

[2015-07-27 01:49] bcordis commented on #508
@st-anton @tomfuller2 Right now there is the same call to the core User section and no difference from backen to front. Closing for now.

[2015-07-27 01:49] #508 closed

[2015-07-27 01:50] bcordis commented on #590
This will be fixed on setting defaults for new install and for migration. Closing as this is in migration and will be set on final creation of defaults.

[2015-07-27 01:50] #590 closed

[2015-07-28 04:57] bcordis opened #592 "Problem with player code solection"
Right now there seems to be a error from the numbers of the player code that we are choosing and the one we expect to see. Need to verify the codes from old 8.x to the new 9.x

[2015-07-28 23:52] bcordis opened #593 "Defaults from server to media addition."
The defaults set under server are not coming across when adding new media. Need to update the params.

[2015-07-29 16:36] st-anton opened #594 "Installation aborts"
Installation on a fresh Joomla 3.4.1 aborts with 'warning', but in fact it aborts:

Table 'fmnj34_bsms_admin' already exists SQL=CREATE TABLE `fmnj34_bsms_admin` ( `id` INT(10) UNSIGNED NOT NULL AUTO_INCREMENT, `drop_tables` INT(3) DEFAULT '0', `params` TEXT, `asset_id` INT(10) UNSIGNED NOT NULL DEFAULT '0' COMMENT 'FK to the #__assets table.', `access` INT(10) UNSIGNED NOT NULL DEFAULT '0', `inst

[2015-08-01 17:00] bcordis commented on #594
Fixed.

[2015-08-01 17:00] #594 closed

[2015-08-01 17:00] bcordis commented on #592
Fixed.

[2015-08-01 17:00] #592 closed

[2015-08-01 20:55] bcordis commented on #399
closing as fixed we have a solution.

[2015-08-01 20:55] #399 closed

[2015-08-01 20:58] bcordis commented on #384
Close as not an option.

[2015-08-01 20:58] #384 closed

[2015-08-01 21:39] #457 closed

[2015-08-02 17:22] st-anton commented on #594
Fixed -> OK

[2015-08-02 17:24] st-anton commented on #587
OK

[2015-08-02 18:06] st-anton opened #595 "Backend Teacher view: Debug output"
In the upper right corner a debug output is displayed: `string '0' (length=1)`

[2015-08-02 18:31] st-anton opened #596 "Backend Thumbnail creation: teacher overwrites study and vice versa"
Teachers thumbnails are stored in folder `\images\biblestudy\studies\<ID>`
This folder is also used for studies thumbnails. If a study thumbnail is present, and a teacher with - by chance - the same ID number is created, then the former thumbnail is deleted and the second is stored.

My opinion: Teachers images should be stored in `\images\biblestudy\teachers\thumb`, studies images should be store

[2015-08-02 19:10] bcordis commented on #596
This was set up by @genu and me and I think your suggestion is getter. I do see your point on the folder for the teachers to be stored in a different folder.

For scripting i could see the thumb folder working better.

[2015-08-02 19:16] bcordis commented on #596
@st-anton folder ID are to separate the images but are not needed if we add a id onto the file name.

[2015-08-02 19:26] bcordis commented on #596
@st-anton Only place we use it is thumbnails. and we only specify the folder at thumbnail creation not where the user selects the image from.

What you think @tomfuller2 ?

[2015-08-02 19:30] #595 closed

[2015-08-02 21:27] tomfuller2 commented on #596
I think Anton's suggestion is good. Let's go with that!

On Sun, Aug 2, 2015 at 12:26 PM, Brent Cordis <notifications@github.com>
wrote:

[2015-08-03 10:44] #585 closed

[2015-08-03 10:45] bcordis commented on #539
Fixed.

[2015-08-03 10:45] #539 closed

[2015-08-05 00:31] bcordis commented on #459
@st-anton Can you verify this is still happening?

[2015-08-08 16:33] bcordis commented on #321
This was fixed using Jimage.

[2015-08-08 16:33] #321 closed

[2015-08-17 22:19] st-anton opened #597 "Frontend new study: Notice 'Undefined variable: book'"
In the books tab, a notice appears:
Notice: Undefined variable: book in \components\com_biblestudy\views\messageform\tmpl\edit.php on line 148

[2015-08-17 22:22] st-anton commented on #459
Yes, still happening.

[2015-08-17 22:27] st-anton commented on #561
Fixed

[2015-08-17 22:30] bcordis commented on #459
Well that is not good. I'll look into where this is coming from. Need to fix this ASAP.

[2015-08-17 22:52] st-anton opened #598 "Backend media upload: File is stored in images folder"
I test on a local xampp installation - not a server. But I don't guess, that is is caused by this:
My server is on a remote url location - let me say: www.mystudystorage.org . Trying to upload a media file to this server copies the file into the \images\biblestudy\media folder, not on the foreign url.

By the way: Can a file be uploaded to a foreign server at all?

[2015-08-17 23:04] st-anton opened #599 "Migration from JBS 8.0.0 crashes: 'Unknown column podcast'"
1054 Unknown column 'podcast' in 'field list' SQL=UPDATE `fmnj34_bsms_admin` SET `podcast`=NULL,`series`=NULL,`study`=NULL,`teacher`=NULL,`media`=NULL,`params`='{\"metakey\":\"\",\"metadesc\":\"\",\"compat_mode\":\"1\",\"jbsmigrationshow\":\"0\",\"studylistlimit\":\"10\",\"show_location_media\":\"0\",\"popular_limit\":\"\",\"character_filter\":\"1\",\"format_popular\":\"0\",\"socialnetworking\":\"

[2015-08-17 23:27] st-anton commented on #599
It seems, that (most of) the imported data are present.

[2015-08-17 23:34] st-anton commented on #590
Works as expected

[2015-08-18 01:46] bcordis commented on #598
We do not support foreign server upload right now. Only local server.

On Monday, August 17, 2015, st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-08-22 16:30] bcordis commented on #599
@st-anton Can you send me the DB that you are using to test with for migration? or the steps you used to reproduce this error.

[2015-08-22 17:13] bcordis commented on #599
@st-anton Found it in the table folder. we still had the old columns stated.

[2015-08-22 18:14] bcordis commented on #599
@st-anton @tomfuller2  Fixed.

[2015-08-22 18:15] bcordis commented on #598
@st-anton Can we lower this bug as it is not a critical bug more of a limit that needs to be set in legacy server?

[2015-08-24 01:14] bcordis commented on #469
@tomfuller2 I think this is fixed but need you to verify so we can close this.

[2015-08-24 02:12] tomfuller2 commented on #469
I'll have to retest a migration. Will do it as soon as I can but extremely
busy right now!

On Sun, Aug 23, 2015 at 6:14 PM, Brent Cordis <notifications@github.com>
wrote:

[2015-08-25 16:38] st-anton commented on #599
Tested ok

[2015-08-25 16:38] #599 closed

[2015-08-31 23:52] tomfuller2 opened #600 "Latest package has failure in displaying media"
Fatal error: Class 'JHtmlJwplayer' not found in /home1/joomlaor/public_html/joomlaoregon_com/jbs/components/com_biblestudy/helpers/media.php on line 292

This comes from any view that is trying to show media files.

This is for inline playing, here is the place where it is accessed in media.php:
case 2: // Inline
						JHtmlJwplayer::framework();
						$playercode = JHtmlJwplayer::render($media, $

[2015-09-01 12:03] bcordis commented on #600
Can you verify that jwplayer.php is present?

[2015-09-01 17:18] tomfuller2 commented on #600
It is, under Media/com_biblestudy/player

On Tue, Sep 1, 2015 at 5:03 AM, Brent Cordis <notifications@github.com>
wrote:

[2015-09-02 10:44] bcordis commented on #600
No it should be under admin->helpers->http->jwplayer.php

On Tuesday, September 1, 2015, Tom Fuller <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-09-02 16:36] tomfuller2 commented on #600
Yep. It's there.

On Wed, Sep 2, 2015 at 3:44 AM, Brent Cordis <notifications@github.com>
wrote:

[2015-09-03 21:36] tomfuller2 commented on #600
So I notice that this is the only place in the $media file that we use this code. Is this what we want to do? What is expected here to happen?

[2015-09-04 15:47] st-anton opened #601 "Topic 'Rain'?"
in \administrator\components\com_biblestudy\install\sql\install-defaults.sql there is a topic `(114, 'Rain', 1, NULL, 7590, '*', 1);`
Does this make sense? If Yes: Can you please change it to `JBS_TOP_RAIN`?

[2015-09-04 16:28] st-anton commented on #469
I did a migration from 8.0.0 and I cannot find a problem:
...`study_id`='265',`server_id`='5',`podcast_id`='2,1',`metadata`='{}',`ordering`='0',`createdate`='2015-05-31 07:04:08',`hits`='0',`published`='1',`comment`='',`downloads`='0',`plays`='2',`params`='{...shortened
So: No double entry, metadata is empty, numbers are correct.
-> can be closed

[2015-09-04 17:52] st-anton opened #602 "Administration: Reset counter does not work"
In Administration menu the reset of the counter - hits, plays, downloads - does not have an effect.

[2015-09-05 01:45] #600 closed

[2015-09-05 01:51] #601 closed

[2015-09-05 01:54] bcordis commented on #598
I have updated this bug as it is trivial and does not brake the function of the system. It is documented that the uploader only uploads to the local server. I'll leave the issue open for further development.

[2015-09-05 01:56] bcordis commented on #597
@st-anton Can you explain the URL you are using to reproduce this as I'm not formeler with a books tap?

[2015-09-05 16:46] tomfuller2 opened #603 "Adding new media problems"
Adding a new media file from within a study.
Upload works. When picking an image for the filetype it goes to the images/biblestudy folder but there are no images to choose from. We need to have the same stock of images that come with the component already loaded there.
I uploaded an mp3 file to use the internal player.
When I tried to play it, I get this error in the popup:

Fatal error: Cannot ac

[2015-09-05 21:29] bcordis commented on #603
Well I fixed the params problem and checked the salty check again as it was not a working right.  This should work right from standard view also.

[2015-09-08 23:34] tomfuller2 commented on #603
When I upload a file using a local server, the site does not tell me the path to the file - shouldn't this be filled in upon upload?
Also - it appears that upon migration all servers are set to default but there is no information in the default server.

[2015-09-08 23:37] tomfuller2 opened #604 "Need to add media images to images folder"
Since we now require admins to get the images/biblestudy folder when adding an image to a media file, we need to load the images in the com_biblestudy folder that we used to provide as a drop down.

[2015-09-08 23:48] bcordis commented on #603
They should not be all pointed to the default server.

[2015-09-08 23:49] bcordis commented on #604
This is in the install script.

[2015-09-08 23:49] bcordis commented on #603
If you do a install it should copy the images to the new folder.

[2015-09-10 19:58] tomfuller2 opened #605 "Upon exit, mediafiles list sorts ascending, should sort descending"

[2015-09-10 20:02] tomfuller2 commented on #603
Go to the admin of the JBS site and add a new media file using the JBS server. When you upload it - it does not appear to upload (the file is not there under images/com_biblestudy/media) though the page shows it did upload - however, the upload path is not filled in and the form won't save. The admin shouldn't have to enter an upload path for a file uploaded to a local server type.

[2015-09-13 14:34] tomfuller2 commented on #603
In what file is the copying of the images happening because it didn't happen on the JBS test site. I don't see it in the xml file or the biblestudy script file.

[2015-09-13 14:39] tomfuller2 commented on #603
I also notice that in the migration we change the image path to media/com_biblestudy/images - yet that is unreachable by the admin for changing the image. Would it be better to have the images migrated to images/com_biblestudy instead?

[2015-09-13 14:42] bcordis commented on #603
That is not good need to change that back to the other folder if we move the files.

[2015-09-13 20:21] bcordis commented on #603
It is in the postflight section and right now it only happens in install. I'm looking at another way to check if files have been copied.

Sent from my iPhone

[2015-09-14 00:23] tomfuller2 commented on #603
Okay

On Sunday, September 13, 2015, Brent Cordis <notifications@github.com>
wrote:

[2015-09-16 22:55] #602 closed

[2015-09-16 23:02] bcordis commented on #604
used in #603

[2015-09-16 23:03] #604 closed

[2015-09-19 00:14] tomfuller2 commented on #603
Upon fresh install the images are NOT copied to the images/biblestudy folder.

[2015-09-19 00:28] bcordis commented on #604
also in a3096da4e2c199ae1ed860b53c7f1e5326ab33b9

[2015-09-19 00:28] bcordis commented on #604
@tomfuller2 retest pleas fixed the problem.

[2015-09-19 14:19] bcordis commented on #605
This should be fixed now with the JS update.

[2015-09-19 14:19] #605 closed

[2015-09-19 14:22] bcordis commented on #597
found the error do to miss labeled variable

[2015-09-19 14:22] #597 closed

[2015-09-19 14:25] bcordis commented on #593
I have fixed with some if statements and merging params.

[2015-09-19 14:25] #593 closed

[2015-09-19 14:25] bcordis commented on #603
@tomfuller2 this should be working now.

[2015-09-19 15:37] bcordis opened #606 "Old code usage on mod_biblestudy"
Line 46 on mod_biblestudy.php is broken and need a fix.

[2015-09-19 16:34] tomfuller2 commented on #606
I'll look at it

On Saturday, September 19, 2015, Brent Cordis <notifications@github.com>
wrote:

[2015-09-22 02:36] tomfuller2 opened #607 "Media does not play"
Migrated from 8.08 to 9.
Trying to play mp3 gets this error inside of popup:
Notice: Undefined property: BiblestudyViewPopup::$popupimage in /home1/joomlaor/public_html/joomlaoregon_com/jbs/administrator/components/com_biblestudy/helpers/html/jwplayer.php on line 220

[2015-09-22 03:57] tomfuller2 commented on #607
By changing line 200 to be $params->popupimage the error goes away, but the mp3 does NOT play.

[2015-09-22 16:15] tomfuller2 opened #608 "Server does not show when editing media file record from study"
If you go to Media Files for this study - and click on a media file - the "server" attribute does not show. It is there and if you just save and close it remains - but does not display in the field.

[2015-09-22 16:57] tomfuller2 commented on #608
I added a new audio file but it will not play.

BTW - the filesize link does not open.

[2015-09-23 00:57] tomfuller2 opened #609 "Filesize is not being done correctly"
Not sure exactly why we moved away from the last version of the filesize - putting it into a legacy server field and all - but it's not working. Try to manually add a filesize in a mediafile - it says fileConverter1() is not defined.

[2015-09-23 20:39] tomfuller2 commented on #609
I managed to get the popup to appear. Joomla's API changed in 3 so that in the filesize.php file we have to give a full path to the js. BUT - the value from the popup doesn't get back into the form. https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/bc9c3ee6293e373289614f37e09262406c653700

[2015-09-24 01:20] bcordis commented on #609
Looks like i need to update the JS. I'll look into it ASAP.

[2015-09-24 04:12] tomfuller2 commented on #606
Fixed and closed https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/41c558b1c4fe8474a21c9a34dd86e205f6fb6a14

[2015-09-24 04:12] #606 closed

[2015-09-25 02:40] tomfuller2 commented on #323
This has been addressed I think.

[2015-09-25 02:40] #323 closed

[2015-09-25 02:44] tomfuller2 commented on #459
So now when I am editing a study on the front end, the # links do not work - it only stays on the first window and won't go to Media Files or Access or anything.

[2015-09-25 02:47] tomfuller2 commented on #505
It appears to work correctly for me. I click on a series and it shows only the number I've specified. Then when I click on "Show all studies" it goes to a study list with all of the studies available for that series. Can you recheck Anton?

[2015-09-25 16:13] tomfuller2 commented on #410
Let's go with Anton's suggestion - stick with Bible Study. Maybe in the future we switch to Bible Study for Joomla. BUT - let's leave any code acronymns the same - these shouldn't depend on the name. For instance - earlier I named all the tables BSMS_tablename as in: "Bible Study Message System" but never actually used that name.

[2015-09-25 16:13] #410 closed

[2015-09-27 14:35] tomfuller2 opened #610 "Add support for IconMoon icons and Bootstrap buttons for media file images"
To provide an alternate for admins we have implemented two new ways of showing media files.

1. Bootstrap buttons
2. IconMoon icons that come with Joomla

These can be accessed from each media file under Media Type. You can choose to use an icon only, button only, or icon and button. You can also set a custom icon (from the set available) https://docs.joomla.org/J3.x:Joomla_Standard_Icomoon_Fonts

[2015-09-28 19:43] tomfuller2 commented on #607
Brent fixed this: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/73a479d3a3c1ec6d6704277a21bc6b916e41e96e

[2015-09-28 19:43] #607 closed

[2015-10-08 23:31] bcordis commented on #609
@tomfuller2 Can you look at this and verify it is working now?

[2015-10-09 15:51] tomfuller2 commented on #609
Working now. What did you do?

[2015-10-09 15:51] #609 closed

[2015-10-10 00:26] bcordis commented on #609
In the new way it pointed to the folder it was not correct and also the
name of the imput was different. Will need to look at converting this in a
new release.

On Friday, October 9, 2015, Tom Fuller <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-10-13 14:57] tomfuller2 commented on #610
I believe I have this completed and tested. https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/389a42dd12925363a04bc8d2c8e129402cac78c1

[2015-10-13 14:57] #610 closed

[2015-10-13 14:58] tomfuller2 commented on #608
Add a new media file then choose a server. The JS does not populate the server field and it isn't saved.

[2015-10-15 02:42] tomfuller2 opened #611 "Landing Page sorting and Locations drop down"
None of the elements seem to respond to the sort order from the template.
Clicking on the locations show more toggles the topics show more button

[2015-10-16 05:46] tomfuller2 commented on #611
Fixed. The use of admin params and menu params was not getting the template params through on ordering. There are no menu or admin items that affect the Landing Page so I commented those out. Now ordering can be changed in the template.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/cf8e8e879108096d7f98db68435e4f42ad20aa8e

[2015-10-16 05:46] #611 closed

[2015-10-22 19:42] tomfuller2 opened #612 "Modal popup for Terms link on download not working"
In the template on the Media tab, set the Show Terms to "Yes" and enter some text in the editor window. Then go to the study list view - only one download button shows in its own div at the top of the screen and the other download links are gone.

Have things changed in the way we show modal windows?

[2015-10-22 23:33] tomfuller2 commented on #612
Fixed by overriding the modal styles in bootstrap.

https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/45d54c0483c7309f52db948a0750ebbfb73ce363

[2015-10-22 23:33] #612 closed

[2015-10-24 20:06] tomfuller2 opened #613 "Want to remove Share view"
I would rather we just use ShareIt. Okay to remove our internal social network share?

[2015-10-25 00:06] bcordis commented on #613
Yes that sounds good. Yes

On Saturday, October 24, 2015, Tom Fuller <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-10-25 14:45] tomfuller2 commented on #613
This is done. Removed code and files.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/356a62387f717aef9ece84e8f131c7789473cc97

[2015-10-25 14:45] #613 closed

[2015-10-29 04:45] tomfuller2 commented on #608
I'm going to close this as it's a strange issue with some servers not showing up but may be due to something in my site or settings.

[2015-10-29 04:45] #608 closed

[2015-10-29 04:46] tomfuller2 commented on #603
Works

[2015-10-29 04:46] #603 closed

[2015-10-29 04:48] tomfuller2 commented on #598
Let's go ahead and close this as I think it's okay for the file to upload to the images folder. Seems to work fine.

[2015-10-29 04:48] #598 closed

[2015-10-30 02:19] bcordis commented on #596
@tomfuller2 This should be working now. Need more testing.

[2015-10-30 02:20] bcordis commented on #589
@tomfuller2 This should be working now. Need more testing.

[2015-10-30 15:22] tomfuller2 commented on #589
I set a default image for all the views with no errors.

[2015-10-30 18:11] tomfuller2 commented on #544
The filtering works properly. I am not seeing this bug.

[2015-10-30 18:11] #544 closed

[2015-11-01 00:05] tomfuller2 commented on #523
I did some work on fixing this problem. The $state variable seems persistent unless reset. I created a way for the sermons view to know if it is coming from the landing page and changed the Request variable names for landing page. It appears to work but there might be some strange thing happening now with a book query coming through so please test!
https://github.com/Joomla-Bible-Study/Joomla-Bibl

[2015-11-01 00:10] tomfuller2 commented on #459
This now works so I am closing. Successfully added a study and media file.
One thing we might consider is putting a Save button, not just Save & Close.

[2015-11-01 00:10] #459 closed

[2015-11-01 00:11] #440 closed

[2015-11-01 00:41] bcordis commented on #459
@tomfuller2 Save should show up when you are editing a existing one but it will not work from when adding new one from a sermon.

[2015-11-05 01:54] tomfuller2 opened #614 "Landing Page Responsive Design"
It's time to touch the Landing Page and turn it into a responsive design. It's the only one left. I'll tackle that once the bugs are worked out of 9.0.0.

[2015-11-17 00:41] bcordis commented on #589
Closing.

[2015-11-17 00:41] #589 closed

[2015-11-17 00:43] bcordis commented on #523
@tomfuller2 Last bug to test and we will be stable.

[2015-11-17 00:44] bcordis commented on #596
Closing as this was tested in other bug.

[2015-11-17 00:44] #596 closed

[2015-11-17 06:13] tomfuller2 commented on #523
I believe I fixed this but it may cause problems with the landing page. We
do need to test indeed

On Mon, Nov 16, 2015 at 4:43 PM, Brent Cordis <notifications@github.com>
wrote:

[2015-11-21 12:20] bcordis opened #615 "YouTube add on"

[2015-11-29 01:10] bcordis commented on #615
@tomfuller2 Now should be working right. Please test new server.

[2015-11-29 01:11] bcordis opened #616 "Missing Bible2015 icon."

[2015-11-29 01:11] #469 closed

[2015-11-29 01:12] bcordis commented on #273
Closing as no more info provided.

[2015-11-29 01:12] #273 closed

[2015-12-01 00:16] tomfuller2 commented on #616
What do you mean? What exactly is missing and where can I see it missing?

[2015-12-01 00:29] tomfuller2 commented on #615
It does work but I get this error:
Notice: Undefined property: BiblestudyViewPopup::$length in /home1/joomlaor/public_html/joomlaoregon_com/jbs/components/com_biblestudy/views/popup/view.html.php on line 221

I'm clicking on YouTube from this study: http://joomlaoregon.com/jbs/index.php/studies-list/sermon/956-an-open-and-shut-mind/1

[2015-12-01 03:39] bcordis commented on #616
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/blob/development/com_biblestudy/admin/views/cpanel/tmpl/default.php line 35
src="../media/com_biblestudy/images/bible2015.png"

file is missing in the media folder on github.

[2015-12-01 21:09] tomfuller2 commented on #615
Did not get the full pull. This problem isn't there.

[2015-12-01 21:09] #615 closed

[2015-12-01 21:14] tomfuller2 commented on #616
Fixed https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/b19ff56b2a47a04f4512ac93848ec087ef622bee

[2015-12-01 21:14] #616 closed

[2015-12-19 12:03] bcordis opened #617 "Installer error timing out"
Need to rework to better use Ajax on server so that it will not time out on install. Looking into bette correct way to do this.

[2016-01-12 03:31] bcordis opened #619 "Error With Docman Installed"
Replace lines 49-64 with the following code, and it will resolve the error:

$db = JFactory::getDBO();
$query = $db->getQuery(true);
$query->select('dm.docman_document_id, dm.title');
$query->from('#__docman_documents AS dm');
$query->order('dm.docman_document_id DESC');
$db->setQuery((string) $query);
$docs = $db->loadObjectList();
$options = array();

if ($docs)
{
$options[] = JHtml::_('select.o

[2016-01-12 03:38] bcordis commented on #619
Fixed with JHtml::( to JHtml::_(

[2016-01-12 03:38] #619 closed

[2016-01-31 15:09] st-anton opened #621 "Menue item setup 'Single Serie': Serie selection is not a popup and does not work"
Tested with 900beta1:
Setting up a new menue item 'Single Series', the selection of the series is not a popup. Selecting the serie does not react, so the serie is not selectable.

[2016-01-31 15:39] st-anton opened #622 "Database after migration contains _bsms_share"
Tested with 900beta1
The database, that comes with the new install does not contain a table _bsms_share. However this table appars in the database after mirgation from a 800 backup.

[2016-01-31 17:12] st-anton commented on #622
Ups, sorry, I got the wrong database -> closed

[2016-01-31 17:12] #622 closed

[2016-01-31 17:23] st-anton opened #623 "Migration sets no assets on studytopics while edit does"
tested with 900beta1
Migration of a 800 database generates asset_id=0, adding a new studytopic with 900 adds assit_id other than 0. Example:
`INSERT INTO fmnj34_bsms_studytopics (id, study_id, topic_id, asset_id, access) VALUES`
`(1, 288, 16, 0, 1),`
`(5, 286, 17, 774, 1),`

Sidenote: Checking the assets does not complain about asset_id=0 here.

[2016-01-31 17:40] st-anton opened #624 "Landing page: missing div results in too much /div"
tested with 900beta1
The landing page encloses each item (year, series, topic ect.) with
`<div class="span2"><a href="...shortened...">5. Mose (Deuteronomium)</a></div>`
The leading `<div class="span2">` is missing at the teachers. This results in broken layout.

[2016-01-31 17:42] st-anton opened #625 "Frontend 'Link Latest view' and other views: Notice Undefined variable"
tested with 900beta1
Notice: Undefined variable: shareit in ...\components\com_biblestudy\lib\listing.php on line 2590

[2016-02-17 23:27] tomfuller2 commented on #624
Is there any way you can figure out what line the error is on in site/helpers/landing.php? I didn't create this and tried my best to make it responsive but it's a bear!

[2016-02-17 23:30] tomfuller2 commented on #625
What's the error message in full?

[2016-02-18 04:03] tomfuller2 commented on #621
This one is really stumping me. Something is clearly wrong - the modal is opening up full screen, not as a modal but I've compared the studydetails and nothing seems to be missing or different.

[2016-02-18 06:11] bcordis commented on #621
Are we leading the Css right?

On Wednesday, February 17, 2016, Tom Fuller <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-02-18 17:46] tomfuller2 commented on #621
We do: JHTML::_('stylesheet', 'system/modal.css', array(), true); (line 42 of admin/models/fields/modal/seriesdetail.php

[2016-02-19 00:54] tomfuller2 commented on #621
This is fixed. Missing modal behavior JHTML declaration.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/ae4b24c0965278c0758dee2bcdac5b6c9722d6c4

[2016-02-19 00:54] #621 closed

[2016-02-19 18:18] tomfuller2 commented on #624
I think I've fixed this. https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/16f75eb925a1b30d8d4f1d8d1db250fa8b43d0bb

[2016-02-19 18:18] #624 closed

[2016-02-20 13:51] bcordis commented on #617
Fixed

[2016-02-20 13:51] #617 closed

[2016-02-22 23:18] #505 closed

[2016-02-22 23:19] bcordis commented on #523
Tested and seems to be working. Closing for now.

[2016-02-22 23:19] #523 closed

[2016-02-28 14:18] bcordis opened #626 "Template: Change Background color for popup window"
Add Color selector to the field to help people out.

[2016-02-28 14:20] bcordis opened #627 "Template: Path to image for popup"
Make a image field for selection.

[2016-02-28 14:21] bcordis opened #628 "Template: Web protocol"
Make a dropdown of only set protocols.

[2016-02-28 14:22] bcordis opened #629 "Template: Set Custom PHP String To Time"
Add URL to php date info.

[2016-02-28 14:50] bcordis opened #630 "Study View: Podcast Rendering"
Need to fix css hardcoding of display as it not right.

[2016-02-28 15:03] bcordis opened #631 "Bible Study Module: Display Internal player or Direct as popup"
Need to update to be inline with main system.

[2016-02-28 15:05] bcordis opened #632 "Bible Study Modele: Pop Up Back Color"
Need to replace all Color selections with Color picker.

[2016-02-28 16:54] bcordis opened #633 "Media Player: Problem with URL creation"
Missing the adding of the // to the url and make it go to the wong url.

[2016-02-28 18:42] bcordis opened #634 "Module Bible Study: Header Row on List not working"
No affecting output.

[2016-03-05 04:14] #633 closed

[2016-03-05 21:42] bcordis opened #638 "Create player converter based off file type."

[2016-03-05 22:30] bcordis commented on #529
I have created a db fix for this closing until we see it again.

[2016-03-05 22:30] #529 closed

[2016-03-05 22:31] bcordis commented on #634
Fixed with new helper.

[2016-03-05 22:31] #634 closed

[2016-03-05 22:32] bcordis commented on #630
Fixed in beta3

[2016-03-05 22:32] #630 closed

[2016-03-05 22:33] bcordis commented on #623
This is fixed in beta3 please retest.

[2016-03-05 22:35] bcordis commented on #58
File size is done still need to get duration fixed on save.

[2016-03-11 03:13] #627 closed

[2016-03-11 03:14] #628 closed

[2016-03-11 03:15] #626 closed

[2016-03-11 03:18] #632 closed

[2016-03-11 03:25] #629 closed

[2016-03-11 03:26] bcordis commented on #631
Fixed.

[2016-03-11 03:26] #631 closed

[2016-03-19 12:43] bcordis opened #640 "Paypal Donate button bocken."

[2016-03-20 13:13] #640 closed

[2016-03-20 13:15] bcordis commented on #559
JBSM 9.0.0 ready for php7

[2016-03-20 13:16] bcordis commented on #614
@tomfuller2 Are we good with this one?

[2016-03-20 13:17] bcordis commented on #625
This is fixed no error i can find.

[2016-03-20 13:17] #625 closed

[2016-03-20 14:03] bcordis opened #642 "seriesGetelement Removed function"
Function no longer available need to replace.
$element       = $this->seriesGetelement($r, $row, $customelement, $custom, $islink, $params, $view = null);

file: site/helpers/serieslist.php

[2016-03-20 14:05] bcordis opened #643 "getSeriesstudiesDBO removed function"
$items   = $this->getSeriesstudiesDBO($id, $params, $limit);

file: site/helpers/serieslist.php

[2016-03-20 16:49] bcordis opened #644 "Custom View Mod_Biblestudy"
getHeader function no longer existe need to find replacement.

[2016-03-21 03:02] tomfuller2 commented on #614
Yep

[2016-03-21 03:02] #614 closed

[2016-03-21 20:42] tomfuller2 commented on #642
Checked for usages of the function. None found. Removed.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/485987a90af189178715dfc720d673f7e16ea21a

[2016-03-21 20:42] #642 closed

[2016-03-21 20:49] tomfuller2 commented on #643
I added back in a function but needs to be tested

https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/07fbf4411206a7999d0ca66985ac62681392aa96

[2016-03-22 18:31] bcordis commented on #643
Looking over the code so fare it looks good but need to verify what we moved into params. I'll look more tonight.

[2016-03-22 21:50] tomfuller2 opened #645 "Remove Expert Mode"
1. Remove the expert mode from all views, removing the code that creates it
2. Migrate existing expert mode into a template file

[2016-03-25 21:15] tomfuller2 commented on #645
Development and testing complete. Install/update/9.0.0.php migrates existing expert templates into templatecode files and entries into the templatecode table, then removes default_custom.php templates and all related parameters.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/ce1fc845c01d25599a238de6b41941721fa4406f

[2016-03-25 21:15] #645 closed

[2016-03-27 23:11] tomfuller2 commented on #644
I have removed expert mode and migrated existing expert mode content to templatefiles. Needed to add a script to the module install routine.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/e4c1471212235161e94be63ef618fedd67189aa3

[2016-03-27 23:11] #644 closed

[2016-03-31 15:15] tomfuller2 opened #646 "Make Administration CPanel icons fluid"
Create a fluid layout for the cpanel icons.

[2016-03-31 15:15] tomfuller2 commented on #646
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/f53868a98ceab73440c22ca56e50173d4e57833d

[2016-03-31 15:15] #646 closed

[2016-04-01 11:20] bcordis commented on #559
now we have moved to 9.0.1 all ready for php7 closing.

[2016-04-01 11:20] #559 closed

[2016-04-01 11:22] bcordis commented on #126
Moving to next version as this did not make it in

[2016-04-07 19:42] #643 closed

[2016-04-09 16:05] #623 closed

[2016-06-02 18:36] tomfuller2 opened #647 "_Blank declaration not followed in some media files"
If a media file is listed as Direct Inline, there is no target in the html. Not sure where this is pulling from now that we've switched the way of doing servers. Check the newsite under one of the pdf's

[2016-06-02 18:40] tomfuller2 opened #648 "Some images not coming through migration"
The path for the growth group questions image did not come through the migration. It's blank. Check out any of the growth group question media files on /newsite.

[2016-06-03 01:35] tomfuller2 commented on #648
Tried to fix but needs to be tested.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/24707e7f178084e461ce7e627fdce896bd225d05

[2016-06-04 02:54] bcordis commented on #648
Ok I'll try and test it also.

[2016-06-04 02:59] bcordis commented on #647
Can you point me to the record the is having this trundle as I see in the media creation for direct link it is there.

[2016-06-04 16:59] tomfuller2 commented on #648
This has been fixed: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/797ce34489785a93311fef5c5e0017db2c80437c

[2016-06-04 16:59] #648 closed

[2016-06-04 17:49] bcordis commented on #100
Completed with more to come.

[2016-06-04 17:49] #100 closed

[2016-06-04 17:53] bcordis opened #649 "Fix Installer Stepper"
Get system to step properly through the install without browser failure.

[2016-06-04 17:54] bcordis opened #650 "FixAssets to work with a stepper"
Reintegrate with installer and admin view to work with new stepper.

[2016-06-04 17:59] #650 closed

[2016-06-04 17:59] #649 closed

[2016-06-04 18:52] bcordis commented on #540
@tomfuller2 are we going to do this? Not sure this will be helpful if they have migrated on 9.0.1?

[2016-06-04 18:55] bcordis commented on #647
@tomfuller2 Now it should be fixed. I have tested locally.

[2016-06-04 23:35] tomfuller2 commented on #647
Did you by chance test this? It still seems the growth group questions opens in the same window.

[2016-06-05 00:38] bcordis commented on #647
I only tested on my box you will need to update your code on the website media.php file.

[2016-06-18 02:15] #647 closed

[2016-06-18 02:16] #159 closed

[2016-06-21 23:18] tomfuller2 opened #651 "Series causes template to break from Landing Page"

[2016-06-21 23:19] tomfuller2 opened #652 "Hover text on media files doesn't reflect the mime type"

[2016-06-22 11:47] bcordis commented on #652
@tomfuller2 Can you send me example links. Having trouble finding the hover info?

[2016-06-22 15:29] tomfuller2 commented on #652
Look at the studies list example on the JBS site and hover your mouse over the media files. Except for the pdf leaf - all of them just say "Audio"

[2016-06-22 15:43] bcordis commented on #652
That text comes from the media file edit page

![image](https://cloud.githubusercontent.com/assets/994259/16273145/27edc594-3866-11e6-91aa-c0dd39afe33c.png)

[2016-06-22 17:21] tomfuller2 commented on #652
Ah - that's unexpected. The button text was designed to put actual text on top of the button if they chose that option. We'll need to explain that somewhere I guess.

[2016-06-22 17:23] bcordis commented on #652
We don't have w conversion from mine to text so the best place I could pull from is there.

[2016-06-22 22:45] tomfuller2 opened #654 "Teacher link images not working on teacher details"
Changed them to font-awesome

[2016-06-22 22:45] tomfuller2 commented on #654
Fixed. https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/3e1d55ca4ce1331c6b6cdfd7c269b5700e3f58cd

[2016-06-22 22:45] #654 closed

[2016-06-23 01:59] bcordis opened #655 "Teacher Image save."
Every time you save the image unless you select a image it clears the image save.

[2016-06-23 02:02] bcordis commented on #652
Closing as know behavior change.

[2016-06-23 02:02] #652 closed

[2016-06-23 02:40] #655 closed

[2016-06-23 02:55] bcordis commented on #651
Fixed with #653

[2016-06-23 15:13] bcordis opened #657 "Local Server media lookup"
Work to make a better lookup system for local media. Also still have the upload system in place.

[2016-06-26 22:52] tomfuller2 opened #658 "Mass media image change to custom icon doesn't change icon type"
Changing an image to a custom icon: media_icon_type is set to 0 instead of 1

[2016-06-28 17:44] tomfuller2 commented on #658
This isn't really a bug. Don't know what happened in my db but it seems to work correctly.

[2016-06-28 17:44] #658 closed

[2016-06-29 18:51] tomfuller2 commented on #651
Fixed https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/2e34ea72519116b6e828a05c35e389a4ec0688d2

[2016-06-29 18:51] #651 closed

[2016-07-10 19:29] bcordis opened #662 "Admin Search in Teachers not working"

[2016-07-13 23:54] #662 closed

[2016-07-13 23:55] bcordis opened #664 "Series search fix."

[2016-07-14 00:07] bcordis opened #666 "Message Types Search Fix"

[2016-07-14 00:32] bcordis commented on #664
Bundled with #666

[2016-07-14 00:44] #664 closed

[2016-07-14 00:44] #666 closed

[2016-07-14 00:46] bcordis opened #667 "Fix the following search."
Locations
Topics
Templates
Template Files

[2016-07-17 16:01] #667 closed

[2016-07-17 23:07] tomfuller2 opened #669 "Module doesn't pull in icon for default download icon"
It only shows the default image.

[2016-07-19 23:30] bcordis opened #670 "Pop Up out of squeezebox add on."
Allow users to move to a Pop Up window from a Squeezebox.

[2016-07-20 00:17] bcordis commented on #657
This is going to be difficult as Joomla has no good way to do this right this minute I'm going to try and fork the media image browser to make this work. Will take some time.

[2016-07-20 00:18] bcordis commented on #540
@tomfuller2 Not sure we can do this. More so this will be documentation more than code works.

[2016-07-28 03:11] bcordis opened #671 "Fix trim of / on download system."
Use this trim to check file name.
$filename      = ltrim($filename, '/');

Also need to check server URL.

[2016-07-28 03:30] #671 closed

[2016-07-28 19:50] bcordis opened #673 "Error with large file downloads. over 200mb"
https://www.howtoforge.com/community/threads/download-of-large-files-from-slow-connection-stops.53809/

[2016-07-28 19:52] bcordis opened #674 "Fix formatting URL in Podcast creation."
need to add check for / in url.

[2016-07-30 01:53] bcordis opened #675 "Add links to rss file on the Podcast list page."
This will be really cool and a good feature.

[2016-07-30 01:57] bcordis opened #676 "Teacher listing page not correctly filtering by teacher."
@tomfuller2 Looks like there is a bug in the listing page for teachers. This is the page that show sermons that are related to the teacher.

right now it's showing all. https://www.nfsda.org/resources/sermons/teachers/teacher/12/1.html

[2016-07-30 01:57] bcordis commented on #676
@tomfuller2 Need your help on this one.

[2016-07-30 02:03] #674 closed

[2016-07-30 04:00] bcordis commented on #673
I have done more diagnoses and looks to be a problem is hosting service that is not allowing for large file download. I have opened a ticket and working with them.

[2016-08-02 21:29] tomfuller2 opened #680 "Language tag doesn't translate on backup plugin"

[2016-08-03 23:12] bcordis commented on #676
Fixed under Pull request #679

[2016-08-03 23:12] #676 closed

[2016-08-06 00:34] bcordis commented on #675
#681

[2016-08-06 00:34] #675 closed

[2016-08-06 01:01] bcordis commented on #673
Server Side problem not component. Closing.

[2016-08-06 01:01] #673 closed

[2016-08-06 16:45] #670 closed

[2016-08-11 01:06] bcordis commented on #680
@tomfuller2 Are you working on this?

[2016-08-11 01:06] bcordis commented on #669
@tomfuller2 Are you working on this?

[2016-08-11 02:57] tomfuller2 commented on #680
Fixed

On Wed, Aug 10, 2016 at 6:06 PM, Brent Cordis <notifications@github.com>
wrote:

[2016-08-12 21:41] tomfuller2 commented on #669
I'll need some help on this.

I believe what is happening is that module is not getting the admin param to use the icon.

In the mod_biblestudy.php file it is getting admin params on line 36. That's merged and then in the default_main.php it is used to call the listing on line 34.

So then listing asks for the media image from /helpers/media.php and on line 194 looks to see what parameter has been

[2016-08-13 02:22] bcordis commented on #669
@tomfuller2 making pull request as there are some more errors that could happen with the model.  I'm looking to see the default icon params will pass.

[2016-08-20 11:53] #669 closed

[2016-08-20 11:54] #680 closed

[2016-08-27 14:10] bcordis opened #687 "Move time for media out of overall study"
Move time constants form study to each media file for video and audio only.

[2016-08-27 14:21] bcordis opened #688 "Brocken Model pulling up latest study."
Look like some how the model is not pulling the latest study. Will need to debug this problem.

[2016-08-27 14:25] bcordis commented on #688
I'll tackle this tomorrow as not sure whey this is happing on my website.  Hope it it not prevalent across the would.

[2016-08-27 17:45] tomfuller2 commented on #687
Agreed. Sometimes my video length is not the same as audio. Maybe media
file overrides study time?

On Saturday, August 27, 2016, Brent Cordis <notifications@github.com> wrote:

[2016-08-28 00:16] bcordis commented on #687
In a way deprecate the sermon fields and point to the media and then we can drop it in 9.2

[2016-08-28 00:30] tomfuller2 commented on #687
Migrate current time to media too

On Saturday, August 27, 2016, Brent Cordis <notifications@github.com> wrote:

[2016-08-30 18:01] bcordis opened #689 "Podcast media URL Brocken"

[2016-08-30 20:39] bcordis commented on #688
@tomfuller2 Looks like the order of params is the problem need to redo to new one.

file mod_biblestudy.php
$admin        = JBSMParams::getAdmin();
$admin_params = $admin->params;

$admin_params->merge($template->params);
$admin_params->merge($params);
$params = $admin_params;

[2016-09-02 00:33] #689 closed

[2016-09-02 01:03] #688 closed

[2016-09-12 22:13] bcordis opened #695 "order of params for media popup wrong"
Template settings overriding media and server settings.

[2016-09-12 22:24] bcordis opened #696 "Local server not pulling in the local URL."
Need to detection of local server option to put in local JUrl::root();

[2016-09-13 04:32] bcordis commented on #696
fixed in 109fc9e433b4c05e5975f36db69658e979288fac

[2016-09-13 04:32] #696 closed

[2016-09-13 05:15] bcordis commented on #695
Fixed in 5888d1b221acc40c66ee7c10701e317a075b3aa6

[2016-09-13 05:15] #695 closed

[2016-09-13 19:34] jrockman13 opened #699 "add-on language error when trying to add new files"
So, this is very odd. Sunday/Monday I was able to add some additional media files. Now, when I try to add a new file, I get the same "language add-on could not be loaded error." It happens when I click "New" on the media file section or on the "add media file" inside a study.

[2016-09-15 01:18] bcordis commented on #699
@tomfuller2 Look at this fix. I've tested this and it work great if they have some bug in not setting or changing the default server (Administration->Default Settings->Server). This will also allow them to load media even if the server was not set right. By doing this if the migration failed then they still will have some problems as the view will load but there will be no indication that the DB i

[2016-09-15 03:36] jrockman13 commented on #699
I tested the commit, and it allows me to get past the "addon language error" and create a media file. As soon as I select a server, things are good. Thanks!

[2016-09-15 23:18] bcordis commented on #699
Great to here this will be out in v9.0.5

[2016-09-15 23:18] #699 closed

[2016-09-20 01:05] jrockman13 opened #700 "Youtube Server URLS in podcast"
Okay, so my feed won't validate with youtube videos in it.

The old studies, using the legacy mode of youtube, are fine. The new URLS have an issue:

First, I tried copy/pasting the entire "share" url: "https://youtu.be/videoid"
That results in a feed with URLS that look like this: "http://https://youtu.be/videoid"

Then I delete the "https://" thinking that would fix it. Nope.
Feed writes like th

[2016-09-20 01:14] tomfuller2 commented on #700
Did you try pasting the entry from Share in youtube? Not the shortened one

[2016-09-20 01:15] jrockman13 commented on #700
I used the shortened link per Brent's instructions. I can try the full link.

On Sep 19, 2016 8:14 PM, Tom Fuller <notifications@github.com> wrote:

Did you try pasting the entry from Share in youtube? Not the shortened one

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/issues/700#i

[2016-09-20 01:19] jrockman13 commented on #700
Also, it works fine on the site in the player, it just doesn't work in the podcast feed

On Sep 19, 2016 8:15 PM, Josiah Rocke <jrocke@cbcneenah.org> wrote:

I used the shortened link per Brent's instructions. I can try the full link.

On Sep 19, 2016 8:14 PM, Tom Fuller <notifications@github.com> wrote:

Did you try pasting the entry from Share in youtube? Not the shortened one

—
You are receivi

[2016-09-20 01:25] tomfuller2 commented on #700
Oh I see. Yes Brent was right. Use the shortened one. YouTube videos won't
work in a podcast. Podcasts are for downloading and playing files, not
streaming them. Have you been using the podcast for this before?

On Mon, Sep 19, 2016 at 8:19 PM, jrockman13 <notifications@github.com>
wrote:

[2016-09-20 01:26] jrockman13 commented on #700
Yes. It works fine on Android.

On Sep 19, 2016 8:25 PM, Tom Fuller <notifications@github.com> wrote:
Oh I see. Yes Brent was right. Use the shortened one. YouTube videos won't
work in a podcast. Podcasts are for downloading and playing files, not
streaming them. Have you been using the podcast for this before?

On Mon, Sep 19, 2016 at 8:19 PM, jrockman13 <notifications@github.com>
wrote:

—
You a

[2016-09-20 01:27] bcordis commented on #700
With the new version coming out I have fixed the URL formation. We support all share urls and full URL.

[2016-09-20 01:28] jrockman13 commented on #700
Ok, so maybe it would be better to just remove them from the podcast?

On Sep 19, 2016 8:25 PM, Tom Fuller <notifications@github.com> wrote:
Oh I see. Yes Brent was right. Use the shortened one. YouTube videos won't
work in a podcast. Podcasts are for downloading and playing files, not
streaming them. Have you been using the podcast for this before?

On Mon, Sep 19, 2016 at 8:19 PM, jrockman13 <no

[2016-09-20 01:29] bcordis commented on #700
YouTube is not supported in podcast. We don't have it filtered out yet.

[2016-09-22 02:29] tomfuller2 opened #701 "Unclosed divs in studies list"
I discovered two unclosed divs in the listing default_main which were causing problems in sites.

Around line 69 they involved the span12 fluid row and the div enclosing the list intro.

[2016-09-22 02:32] tomfuller2 commented on #701
I believe I fixed the issue: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/e54b5a9972aad47b480b858d649c1bb7e98fe2d1

[2016-09-22 02:32] #701 closed

[2016-09-24 23:02] bcordis commented on #700
This Should be fixed in v9.0.5 @jrockman13 Let me know if it is not?

[2016-09-24 23:02] #700 closed

[2016-09-24 23:06] bcordis commented on #58
Not possible with protocol right now to do duration.  FileSize will lookup automatically on save of media if size field is blank or 0.

[2016-09-24 23:06] #58 closed

[2016-09-30 23:59] bcordis opened #703 "Publishing up and down not working."
Need to verify all view. Also main sermon view not fallowing this.

Teacher View
Sermons/Message View

[2016-10-17 23:51] bcordis opened #704 "AutoStart Use Global"
Add back in use Global option to server and mediafile edit.

[2016-10-18 00:25] bcordis opened #705 "Bulk Upload"

[2016-10-20 18:35] tomfuller2 opened #706 "Title of uploaded file incorrect"
From a user:
I’ve been trying for awhile now getting JBS 9 to work on a local dev site.

I upgraded from version 8 to 9. Upgrade itself worked well but some things aren’t working for me.

Problems I keep having:
1. When uploading new studies it saves the files as filename-MP3 and no extension. So I manually remove the MP3 and add the extension. Then it will play in the front end.
2. Downloading an

[2016-10-24 15:58] tomfuller2 opened #707 "Div pushes items to select below left menu on template edit"
Edit a template, go to studiesview. When you click on the items for the list, the items appear below the left menu choices of different tabs.

[2016-10-24 16:56] tomfuller2 opened #708 "Message type not showing on sermons view"
There is a typo in the code that makes it so message type does not show up in the sermons view.

Line 1615 in /site/lib/listing.php

{
(isset($item->messaget_type) ? $data = $item->message_type : $data = '');
}

Changed to:

{
					(isset($item->message_type) ? $data = $item->message_type : $data = '');
				}

[2016-10-24 16:59] tomfuller2 commented on #708
Fixed

https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/571363d5acd6489f2fce98a3c95a2f9937290e71

[2016-10-24 16:59] #708 closed

[2016-11-03 23:15] bcordis opened #709 "Uploader naming error."
using JBSM upholder the system would wrongly produce the filename.

[2016-11-03 23:18] bcordis commented on #709
Fixed and in place now.

[2016-11-03 23:27] bcordis opened #710 "Add striper for server name to remove http or https"
remove everything before //

[2016-11-04 01:01] bcordis commented on #710
@tomfuller2 please review.

[2016-11-04 01:01] bcordis commented on #709
@tomfuller2 Please Review.

[2016-11-04 01:29] bcordis opened #711 "Fix Template layout problems"

[2016-11-04 01:30] bcordis commented on #711
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/5fc85420536ac0ec34b282c14a1e228a7d9359c1

[2016-11-04 03:58] #703 closed

[2016-11-04 03:58] #711 closed

[2016-11-04 03:59] bcordis commented on #706
Duplicate of #709

[2016-11-04 04:00] bcordis commented on #706
Fixed in #709

[2016-11-04 04:01] bcordis commented on #706
@tomfuller2 Can you verify that the download problem is sill active?

[2016-11-04 18:07] tomfuller2 commented on #710
I'm confused as to why we need this. So you add // to the beginning of each server path? Won't that break it?

[2016-11-04 18:14] tomfuller2 commented on #709
I  tried using the uploader on my localhost and it did not work. No file uploaded and filename was not saved in the record

[2016-11-04 18:17] tomfuller2 commented on #706
Can't test until upload works.

[2016-11-05 13:23] bcordis commented on #709
System did not show error of file size. Will look into that latter as different problem.

[2016-11-05 13:23] #709 closed

[2016-11-05 13:24] bcordis commented on #710
No it will not brake the URL. browser us // as a generic handle. this allow for http or https traffic.

[2016-11-05 13:24] #710 closed

[2016-11-05 13:25] bcordis commented on #706
Fixed with upload test.

[2016-11-05 13:25] #706 closed

[2016-11-05 13:26] bcordis commented on #707
Fixed with 5fc85420536ac0ec34b282c14a1e228a7d9359c1

[2016-11-05 13:26] #707 closed

[2016-11-05 13:26] #704 closed

[2016-11-12 15:06] bcordis opened #716 "Template fields builder"
To reduce SQL queries move to a builder that will build the drop downs.

In this module we will only query the table once.

[2016-11-18 20:00] jrockman13 opened #719 "Error decoding JSON data: Syntax error"
xposted: http://www.joomlabiblestudy.org/index.php?option=com_kunena&view=topic&catid=35&id=3734&Itemid=812#4484

[2016-11-21 16:01] jrockman13 commented on #719
anyone had a chance to look at this?

[2016-11-30 15:06] jrockman13 commented on #719
Update: posted new thread in correct forum: http://www.joomlabiblestudy.org/index.php?option=com_kunena&view=topic&catid=39&id=3735&Itemid=812#4488

[2016-12-03 18:00] bcordis commented on #719
Need a db backup to test bug. As right now can't reproduce the bug.

[2016-12-05 04:13] jrockman13 commented on #719
Can I post it on Github or should I share a google drive link?

From: Brent Cordis [mailto:notifications@github.com]
Sent: Saturday, December 3, 2016 12:01 PM
To: Joomla-Bible-Study/Joomla-Bible-Study <Joomla-Bible-Study@noreply.github.com>
Cc: Josiah Rocke <jrocke@cbcneenah.org>; Author <author@noreply.github.com>
Subject: Re: [Joomla-Bible-Study/Joomla-Bible-Study] Error decoding JSON data: Synt

[2016-12-06 12:11] bcordis commented on #719
I would send a director linked on the ticket so I can look download the db. Not sure how big it is. Plus for privacy.

[2016-12-08 02:40] bcordis commented on #719
Please replace this file ASAP.

https://github.com/joomla/joomla-cms/blob/staging/libraries/vendor/joomla/registry/src/Format/Json.php

This will fix the problem for you. It is coming out next versions of Joomla

[2016-12-08 02:42] bcordis commented on #719
Also I have made some corrections to our scripts.

https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/pull/720

I have tested it on your db and it corrects all the errors in your json params.

Let me know if you have trouble with this.

[2016-12-31 21:36] #719 closed

[2016-12-31 21:38] bcordis commented on #117
This is now the only option. Closing.

[2016-12-31 21:38] #117 closed

[2016-12-31 21:41] bcordis opened #721 "YouTube import option"
Allow users to select from videos on there channels to add to the study's.

[2017-01-27 15:33] jrockman13 opened #722 "Legacy server not appending url to xml file"
Having an issue with our xml file. We host through Bluebrry, and up until Dec 11, things were working fine. I had created a legacy media server, input the entire url to our public directory, and then I would just input the file name in the individual media file.

Since 12/11, it not just writes the file name to the xml. It still works just fine to play the files through a series/study view on the

[2017-02-04 14:01] bcordis commented on #722
Fixed in 9.0.10

[2017-02-04 14:01] #722 closed

[2017-02-09 03:55] bcordis opened #725 "Teacher list View Problems."
In my study list view, i show the thumbnail. In the admin template, i selected in display items list 1, teacher image in the span row, Rounded, Pull left. Nothing show. Same bug with teacher list view...

[2017-02-09 15:45] tomfuller2 commented on #725
I'm working on this. Can you give me ftp credentials to the new host?
This starts in lib/listing.php on line 751 with a check of whether a rowspan item has been selected in the template. Need to check the variables on through that function.

[2017-02-26 06:04] bcordis commented on #725
@tomfuller2 What is the status here?

[2017-02-27 00:36] tomfuller2 commented on #725
I think I fixed this. The $span variable was being reset so I added another layer of checks.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/f58629677b27dc3a341cd6dd5e4dc2c9ccf20f6e

[2017-02-27 00:36] #725 closed

[2017-02-28 23:58] tomfuller2 opened #727 "When server set to show download it overrides media file setting"
See this in http://horizonbrooklyn.com/index.php/messages

If server set to show download then it doesn't matter what admin setting or individual media file setting is set to. Download icon shows.

When server set to not show download, then individual media file setting holds.

[2017-02-28 23:59] tomfuller2 commented on #727
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/bd7b2f2ffc32bf0a4c22250a3bdec2152d44872a

I think I fixed this. But do we even need to check server settings? Aren't those only valid when CREATING a media file? Shouldn't the download icon only come from the media file?

[2017-02-28 23:59] #727 closed

[2017-03-05 15:43] tomfuller2 opened #734 "Suggestion: db backup prior to upgrade"
What if we created an automatic db backup in the db itself. Then we create a message saying there is a backup after successful install and the admin can then delete it.

[2017-03-22 22:19] #734 closed

[2017-04-22 20:47] #638 closed

[2017-05-01 19:47] tomfuller2 opened #738 "Teacher image does not show up on list"
When using the span rows image, the image is either broken or does not show

[2017-05-01 19:48] tomfuller2 opened #739 "Email icon shows up as web icon on teacher list/details"

[2017-05-01 19:49] tomfuller2 opened #740 "Need a second or third option for how to show studies from teacher details"
Right now only studieslist setup is an option. Need to allow a template file

[2017-05-10 11:01] bcordis commented on #738
This looks to be that we fixed it in 9.0.14. I've tested on all incidences of the image.

[2017-05-10 11:01] #738 closed

[2017-05-10 11:03] bcordis opened #742 "Drop support for inline migrate of 8.0.0 and older"
Must use the migration tool to get older version migrated.

[2017-05-10 11:13] bcordis commented on #740
What are you looking at here?

[2017-05-10 12:08] bcordis commented on #739
Fixed in 9.0.14

[2017-05-10 12:08] #739 closed

[2017-05-10 12:09] bcordis opened #743 "Teacher image not showing up in Detail view."
Found to be an error in the template file and have put in B/C fix.

[2017-05-10 12:11] #743 closed

[2017-05-10 23:37] tomfuller2 commented on #740
Adding to the dropdown any template files that have been created as an option. We should also have this from the series detail as well.

[2017-06-05 22:09] bcordis opened #749 "Server Delete Check"
Check if any media is assigned to server before delete. If media do not allow deletion.

[2017-06-05 22:10] bcordis opened #750 "Teacher Name Depletion Check"
Check to see if same name of teacher is already in db before creating.

[2017-06-05 22:45] bcordis opened #751 "Media Creation prompt for Server on new"
On new media prompted for selection server.

[2017-06-08 19:41] tomfuller2 opened #752 "Server won't save"
Create a new server, choose a server type, then save. Server type does not save

[2017-06-09 17:09] bcordis commented on #752
Found to be bad migration of DB was using old DB. Closing.

[2017-06-09 17:09] #752 closed

[2017-06-13 19:50] tomfuller2 opened #753 "Updated branding to Proclaim"

[2017-06-13 19:51] tomfuller2 commented on #753
Updated language files to Proclaim. Updated main cpanel and menu images
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/adb5773c8e2009b6182f14e3cf1db68eaee72bee

[2017-06-13 19:51] #753 closed

[2017-06-14 11:09] bcordis opened #754 "Site - Media defaults loding"
Note loading defaults on a selection of server. Need to update code to reflect this.

[2017-06-14 11:11] bcordis opened #755 "Site - Admin menu"
Look at creating an admin menu inside component to be shown will on list view of media, sermons as we may need to get back and forth.

Look to help make the transition faster.

[2017-06-14 11:16] bcordis opened #756 "Site - Messagelist Edit link to sermon not working"
Edit link has error going to 0 Table sermon not supported. File not found.

Need to fix asap.

[2017-06-14 11:24] bcordis opened #757 "Site - Popup image url malformed."
Look into the URL for the default image or water mark. seems to be malformed.

Exsample:
https://www.nfsda.org/component/biblestudy/teacher/62/index.php?option=com_biblestudy&player=1&view=popup&mediaid=linkmedia1847&tmpl=component

[2017-07-18 19:41] st-anton opened #758 "Installation get stuck"
The installation of both the package and the component get stuck. It simply never comes to an end, even when a huge memory and a long timeout is set in php.ini. This happens on two different servers.
I tested with Joomla 3.7.2 and BS 9.0.17

[2017-07-18 23:56] bcordis commented on #758
Can you get me the error log file?

[2017-07-19 20:01] st-anton commented on #758
Both reports show no message related to the installation: Neither Apache error nor mysql error file.

The temp folder is full of install files, both zipped and unzipped. On the first glance all files are processed correctly.
Also the files in the administrator folder, media, components atc. seems to be correct.

Please find the installation log and the database here
[bs_9017_install.sql.txt](https

[2017-07-20 11:08] bcordis commented on #758
This is strange as the error log shows no normal steps.

Can tell me the configuration of the servers. Joomla version. Php version and any other data so i can test on the local host.

[2017-07-20 22:39] st-anton commented on #758
It is Joomla 3.7.2, BS 9.0.17, php 5.6.23 with memory_limit = 128MB or 256MB and max_execution_time = 300
Is there any point / several points to abort the installation earlier, e.g. before postflight to find the point, where it stucks?

[2017-07-22 14:08] bcordis commented on #758
Yes need to put in some more log points to see where this is braking will code up some more over the weekend. Sorry did the delayed response.

[2017-07-23 12:56] bcordis commented on #758
@st-anton try new test file and see what comes out of error log.
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/raw/development/build/packages/pkg_biblestudy.zip

[2017-07-23 20:21] st-anton commented on #758
First try was to install the new package on Joomla 3.7.2 Now this fails with a message, that this Joomla version is not supported. When the message appears, there ist an error saying, that a path cannor be deleted. Please find the message here (german and english, both the package and the component):
![german_error_message](https://user-images.githubusercontent.com/2517417/28502554-03053ae2-6ff5-1

[2017-07-24 11:45] bcordis commented on #758
Well that is better error. Now I put the joomla order in the wrong way. I have corrected it but still need to regenerate test files.  Also need to correct the file error you got.

[2017-07-24 21:36] bcordis commented on #758
@st-anton I have updated the code package try retesting with it.

[2017-07-25 19:41] st-anton commented on #758
Some improvement...
Now the run reaches step 26:
[com_biblestudy.errors.php.txt](https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/files/1174556/com_biblestudy.errors.php.txt)
PS: I upgraded my Joomla to 3.7.4

[2017-07-26 00:09] bcordis commented on #758
Can yu you send me a dump of your joomla DB? I'm confused on what is happening here.

[2017-07-26 00:10] bcordis commented on #758
What database are you using and can you send me your system status info?

[2017-07-26 05:55] st-anton commented on #758
Please find the database before installation here:
[feg_j374_001_update_Initial_Grundkonfiguration.sql.txt](https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/files/1175556/feg_j374_001_update_Initial_Grundkonfiguration.sql.txt)
I'm using a MySQLi database:
![grafik](https://user-images.githubusercontent.com/2517417/28606422-4e0a81e4-71d7-11e7-8d78-94b61395c531.png)
This is the Joomla system

[2017-08-04 05:55] st-anton commented on #758
I got a step further by analysing the communication between the browser and the server. The installation obviously takes roughly 16 seconds on my computer and then redirects to the next page. This page should - as far as I see - display a progress bar. Please find "2 of 43 Processing: Install Steps" in the following http dump:
[http_analysis_initial.txt](https://github.com/Joomla-Bible-Study/Jooml

[2017-08-04 10:27] bcordis commented on #758
Can you tell me what browser you are using?  Also can you state what the
browser states the of all the files it is fetching. 202 304 505 or so on.
This almost sounds like a browser JS errors.

Cross website blocking?

On Fri, Aug 4, 2017 at 12:55 AM st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-08-04 17:08] st-anton commented on #758
Up to now, I used Firefox latest version. Now I tested with Microsoft Edge. This has absolutely the same behaviour:
JEvents can be installed properly.
Biblestudy does not show any progress. If I call the URL as I did with Firefox, the Progress bar is displayed like in Firefox.
Finally, the success messge is displayed:
![finished](https://user-images.githubusercontent.com/2517417/28978824-e707ec8e-

[2017-08-05 00:40] bcordis commented on #758
In browser inspection you can see if there are JS or HTML response problems.

With this you can tel if there is a problem with your sever also.

Do you have any limitation on the server like it can't use  certain PHP
functions ?

On Fri, Aug 4, 2017 at 12:08 PM st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-08-05 19:52] st-anton commented on #758
Digging deeper...
I'm absolutely not sure, whether I'm on the right track, but I see a difference between installing Jevents and Biblestudy. When installing Biblestudy, roughly 12 seconds after starting the installation, a error is stated in the Firefox debug console:
  undefined undefined  index.php:289:6
  TypeError: res.data is undefined[Weitere Informationen]  index.php:293:1
As far as I can s

[2017-08-09 10:34] bcordis commented on #758
Still debugging. right now I may need to get with you and do some testing on your box. I so fare not able to reproduce the error.

[2017-09-19 21:56] st-anton commented on #758
Back again :-)
Up to now, I used php 5.6.?. Today I tried with php 7.1.9. Result: No difference :-(

[2017-09-21 11:48] bcordis commented on #758
Ok, I'm going to try on a windows server and some others. This is quite a
problem. Are you using a different language then the en-GB?

Thanks,
Brent Cordis
212 ClearLake Dr
LaVergne, TN 37086
615.429.6426

On Tue, Sep 19, 2017 at 4:56 PM, st-anton <notifications@github.com> wrote:

[2017-09-21 16:44] st-anton commented on #758
Up to now I used german de-DE, so I tested with english right now. Unfortunatelly there is no difference.

[2017-09-27 19:54] tomfuller2 opened #759 "Trashed teacher shows up on study list drop down"
Even if a teacher has no studies and is trashed - he/she will show up on the List (sermons) view drop down of teachers.

[2017-09-28 16:22] tomfuller2 commented on #759
I tried this fix: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/d20dc1fa3b6613e2747fbbcf8309ed239d245acf

When I tested on my local site - the new teacher with a study didn't show up so not positive this is working but it should!

[2017-09-28 19:39] tomfuller2 commented on #759
I added check for published state to several of the drop down menu functions in the sermons model. Tested on localsite.

https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/238c028eb64e3165635f73438e7b22778c383bfb

[2017-09-28 19:39] #759 closed

[2017-09-30 19:54] st-anton opened #760 "Migration breaks with '0 Error decoding JSON data: Syntax error'; Database is destroyed"
I managed to workaround the installation bug and get an installation that seems to be ok. Afterwars I started the Migration. Migration of an jbs database 8.0.0 ends up in a JSON decoding error. Stack:

Call stack
--
# | Function | Location
1 | () | JROOT\libraries\vendor\joomla\registry\src\Format\Json.php:72
2 | Joomla\Registry\Format\Json->stringToObject() | JROOT\libraries\vendor\joomla\registr

[2017-10-11 14:41] st-anton opened #761 "Compatibility mode: http:// generates a router error 404"
In compatibility mode, joomlabiblestudy.org server is used for download files. With bs 9.0.17 the link to the router has an additional http:// and gives a 404 error on the joomlabiblestudy server:
former URL: http://joomlabiblestudy.org/router.php?file=www.mypage.de/mymessage.mp3&size=
current URL: http://joomlabiblestudy.org/router.php?file=http://www.mypage.de/mymessage.mp3&size=

[2017-10-15 00:55] bcordis opened #762 "Router problem with podcast display."
Found solution and coding it up.

[2017-10-16 03:48] #761 closed

[2017-10-30 20:35] st-anton opened #763 "Frontend new Study: Table Sermon is not supported. File not found"
When klicking the 'new' button for a new study, there is a message JLIB_APPLICATION_ERROR_TABLE_NAME_NOT_SUPPORTED
![grafik](https://user-images.githubusercontent.com/2517417/32194261-2c625ed4-bdba-11e7-8d3a-f97af2fdab74.png)

[2017-10-30 21:20] st-anton commented on #763
new study link:
[http://localhost/feg_j37/predigtarchiv/predigt-neu-oder-aendern/sermons?task=sermon.edit](http://localhost/feg_j37/predigtarchiv/predigt-neu-oder-aendern/sermons?task=sermon.edit)
new media link:
[http://www.muenchen-nord.feg.de/predigtarchiv/medien-neu-oder-aendern/mediafileform?task=mediafileform.edit](http://www.muenchen-nord.feg.de/predigtarchiv/medien-neu-oder-aendern/mediafi

[2017-11-01 00:25] bcordis commented on #763
@st-anton Looking into the problem now. This was working on many systems so I'll find the bug.

[2017-11-01 00:29] bcordis commented on #760
@st-anton are you able to send me the DB before starting the migration so I can see where the error is occurring.

[2017-11-01 00:35] bcordis commented on #758
@st-anton I cant remember is i ask you. Is this from a brand new install or an upgrade from an old version?

[2017-11-01 20:10] st-anton commented on #758
All the time I tried to install it in a new Joomla 3.7.4 . I did dnot try it with an upgraded Joomla, beacause of other problems there. There is no difference, whether it is the very first packet to install or one after several other already installed.

[2017-11-01 20:18] st-anton commented on #760
I think, you want to test with my exported database of BS 8.0.0. I send by private email.

[2017-11-04 20:57] #762 closed

[2017-11-04 20:59] bcordis commented on #760
Export of 8.0.0 db is corrupt and can’t be migrated without cleaning up the code. We have a error in the 8.x version of exporting the db.

Closing as this is a bug that we have fixed in others but will have to work with clients on case by case.

[2017-11-04 20:59] #760 closed

[2017-11-05 23:34] bcordis commented on #758
@st-anton Sent new version to test. Let me know if it will install now.

[2017-11-08 22:35] st-anton commented on #758
I'm very sorry, but I too much mails :-(
As far as I remember, it was pkg_proclaim.zip to be tested:
![grafik](https://user-images.githubusercontent.com/2517417/32578210-a4855334-c4dc-11e7-8a8c-9d6513519e7b.png)
I tested it and still the installation window is not updated. The Joomla 'spinner' is rotating endless. After a long time I reloaded the page and found the BS menue available. But the data

[2017-11-15 02:14] bcordis commented on #758
Ok after looking at your system info you are using maraidb not a MySQL. Joomla dose not support this database. Can you verify that you are still using the db?

[2017-12-01 00:15] bcordis commented on #758
@st-Anton can you let me know if you are still using that DB?

[2017-12-01 00:16] bcordis commented on #757
Fixed in 9.1.0

[2017-12-01 00:16] #757 closed

[2017-12-01 22:00] st-anton commented on #758
Sorry for the long delay. I was busy on another project.
I'm using MariaDB in XAMPP on my local machine and MySQL on the server of my site (hoster). Up to now I did not recognize a problem with XAMPP / MariaDB, so I continue to use it.
Anyway: I set up a new Joomla 3.8.2 on the server of the hoster and installed BS 9.0.17 on it. Again the same behaviour: The installation does not come to an end. T

[2017-12-01 23:54] bcordis commented on #758
It’s almost like we are using something that is not turned on in the server
you are using. I’m working on the installer now for a 8.0.8 migration
errors hopefully I may see your error soon.

On Fri, Dec 1, 2017 at 4:00 PM st-anton <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-12-09 00:09] bcordis opened #765 "Fix Dropdown "Current Image" for Media Image Conversion"
Problem with JSON Decode.

[2017-12-09 00:10] #765 closed

[2018-01-06 17:37] bcordis opened #766 "Look at a better way to present Related studies"
Make a better way to present related studies instead of a drop-down menu.  Something like a list at the end of the sermon info.

[2018-01-06 17:39] bcordis opened #767 "Rework Podcast Display on page"
Look at a better way as a module not built into the component to display the podcast links in a couple of styles.

[2018-01-11 01:07] bcordis opened #768 "Download file size brocken"
the download file size was broken by a change to the get file size helper. Need to fix asap.

[2018-01-11 01:08] #768 closed

[2018-03-24 01:15] bcordis opened #775 "Play hit counter not working right"
Need to make sure the counter is triggering for all links.

[2018-03-24 01:15] bcordis opened #776 "JWPlayer no longer supporting YouTube"

[2018-03-24 01:16] #754 closed

[2018-03-25 18:19] bcordis opened #778 "Need check for podcast plugin enabled."

[2018-03-27 18:16] bcordis commented on #776
Fixed in a191b44446076fa1df121d390b66be125df33d4e

[2018-03-29 15:07] bcordis commented on #776
also ce1f988121ba47afc829d0fa7135a9dd19521576

[2018-03-29 15:07] bcordis commented on #776
remove cdn form file. 3d8e0a89a385ed2fea3d89923e5909bd2eb54064

[2018-04-05 11:13] bcordis opened #780 "Looking at new scripture entry"
One line entry for scripture.

[2018-04-05 11:13] bcordis commented on #780
Looking at using this php code https://stackoverflow.com/questions/23719791/php-parsing-explode-bible-search-string-into-variables-or-tokens

[2018-04-06 22:05] bcordis commented on #776
Need to add back the CDN and Default Key.

[2018-04-06 22:06] bcordis opened #781 "Move to new player for Audio files"
look at implementing a html5 player like this https://extensions.joomla.org/extensions/extension/authoring-a-content/content-construction/simple-audio-player-shortcode/

[2018-04-07 17:34] bcordis commented on #776
Fixed in 9.1.4

[2018-04-07 17:34] #776 closed

[2018-04-17 03:05] bcordis opened #785 "Uploader hardening needed."
Look at ways to harden how and what can be uploaded through the uploader.

[2018-04-17 03:05] bcordis commented on #785
#784 is the start to enhancing the uploader.

[2018-05-28 03:06] mwweb commented on #326
I would like to throw in that I have been utilizing a Vagrant Box for over a year for development. I prefer it over XAMPP, WAMP, or other options, as it run the box in a virtual box of your preferred operating system.

I would actually recommend to people to check out JoomlaTools Vagrant. They created a Vagrant box geared towards Joomla! developers. It runs on Ubuntu, and want to create a new dev

[2018-06-05 20:38] st-anton commented on #763
Unfortunatelly still in 9.1.4 This forces me (admin) to release every sermon, as I do not want to allow our media recorder guys to enter the backend.
The 'new media' link is working, the 'new study' link is broken.

[2018-06-06 02:07] bcordis commented on #763
@st-anton Looking into the problem now. We have verified that it is now working.

[2018-06-06 02:42] bcordis commented on #763
@st-anton working with @tomfuller2 on whether the other files are needed. Not sure where this came from looking into it.

[2018-06-06 15:57] tomfuller2 commented on #763
I think Brent meant to say that it is NOT working.

On Tue, Jun 5, 2018 at 7:42 PM, Brent Cordis <notifications@github.com>
wrote:

[2018-06-07 17:42] tomfuller2 commented on #763
We've fixed this. Two links were wrong - they hadn't been updated. In the next release we'll fix it.

If you want to fix it in the meantime I can give you the files or tell you where to change.

[2018-06-11 19:39] st-anton commented on #763
Thanks a lot! I found your commit and confirm, that this fixes the bug.

[2018-06-11 19:39] #763 closed

[2018-06-11 20:38] bcordis commented on #763
Closing issue.

[2018-09-18 04:23] bcordis opened #787 "Audio Player move to FancyApps"
Move to new player cost from JWPlayer now. Look at making a audio player using the native html5 player

[2018-09-29 18:00] bcordis opened #788 "Filters not hiding or fallowing options."
Filters on the main page are not fallowing template options to hid them.

Some of the other options need to be verified after having to move to new filter rendering system.

[2018-09-29 18:47] bcordis commented on #788
@tomfuller2 Looking at the code wondering what the Dropdown order function. Not sure I will be able to use it in the new filter rendering system.

[2018-09-30 02:46] bcordis commented on #788
Looks like it also is not adhering to limit from the landing page. Need to correct.

[2018-10-04 05:09] bcordis commented on #788
Fixed and tested form landing and inline filtering. Hiding now works.

[2018-10-04 05:09] #788 closed

[2018-10-04 05:13] bcordis commented on #787
Still, need to code this up with HTML5 player supporting per https://en.wikipedia.org/wiki/HTML5_audio

[2019-01-05 03:17] bcordis commented on #785
Released in 9.1.7

[2019-01-05 03:17] #785 closed

[2019-01-05 03:18] bcordis commented on #758
Fixed and not presenting its self in 9.1.7.

[2019-01-05 03:18] #758 closed

[2019-01-05 03:19] bcordis commented on #326
Closed as support for this has faded and development staff is lacking to support.

[2019-01-05 03:19] #326 closed

[2019-01-05 03:21] bcordis commented on #755
Moved to a new layout for the system.

[2019-01-05 03:21] #755 closed

[2019-01-08 02:35] tomfuller2 commented on #756
It appears to work now - didn't you merge with mediaview? That's the branch I tested it on. Admin of studies - clicked on edit link and it opened and saved.

[2019-01-08 11:40] bcordis commented on #756
Good will close this issue then and move on.

On Mon, Jan 7, 2019 at 8:35 PM Tom Fuller <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-01-09 23:50] #756 closed

[2019-01-16 21:23] tomfuller2 opened #791 "Download Icon Global Setting Not Working"
Download icon doesn't show if in media file it is set to Global and in Administrative settings global download icon is set to Show.

Can be overriden in individual media file record.

[2019-01-30 21:05] tomfuller2 opened #792 "Podcast has incorrect information on some choices"
The drop down list of the podcast subtitle doesn't match was the podcast.php file generates. Fixed.

[2019-01-30 21:08] tomfuller2 commented on #792
https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/pull/774

[2019-01-30 21:08] #792 closed

[2019-02-27 12:00] #791 closed

[2019-03-02 01:51] bcordis opened #794 "FileSize Converter Note working"
This looks like the javascript is not working and pulling from the function. Need to look into the problem and update code.

[2019-03-02 02:35] bcordis opened #795 "Try and add Popup Footer and header Elements to Squeezebox"
Look at adding in code to allow inside fancybox for this option to work.

[2019-03-14 17:30] tomfuller2 opened #798 "Search function in sermons view does not return results"
Also does not work on mobile. And, search tools not available on mobile. We are using Joomla search function so not sure what's happening

[2019-03-16 21:10] tomfuller2 commented on #798
Fixed: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/94d255568ede7cd31715f5c96328d22060af4ae2

[2019-03-16 21:10] #798 closed

[2019-03-17 17:57] tomfuller2 opened #799 "Icon for YouTube not showing correctly due to change in font awesome"
Previously, font awesome tags for youtube were fa fa-youtube. This changed to fab fa-youtube.

[2019-03-17 17:58] tomfuller2 commented on #799
Fixed: https://github.com/Joomla-Bible-Study/Joomla-Bible-Study/commit/556c94e6148fab29af0a429ba0789285b188f27c

[2019-03-17 17:58] #799 closed

[2019-03-17 18:51] tomfuller2 commented on #775
I verified that hitPlay() is working for YouTube and Audio files when using the popup window. Under what circumstances is the counter not working?

[2019-05-15 22:56] bcordis opened #800 "Font end editing of Sermons"
Need to create a quicker way to access the editing of sermons on the front side.

[2019-05-15 22:57] bcordis opened #801 "Youtube media edit Front Side error"
Missing the field for youtube URL.

[2019-05-15 23:40] bcordis opened #802 "Look at name change for "Proclaim" to "CWM Proclaim""
This will help keep all CWM

[2019-08-04 18:02] nixthing opened #803 "Can not install 9.2.0 zip pkg"
When trying to install get, 404 Component not found, error.
After logging back in shows in Components but if I try to launch I get, 1146 Table 'db770782160.#__bsms_admin' doesn't exist, error. However examining the databases, db770782160 is indeed there.
Using Joomla 3.9.10.

[2019-08-05 18:07] tomfuller2 commented on #803
Is this a fresh install? If so, I would recommend deleting the tables with _bsms and attempting the install again. The table names should be db770782160_bsms_... - the # should not be there. Let us know what happens and we'll go from there!

[2019-08-05 18:31] nixthing commented on #803
Yes fresh install, now I have to try and get the site back up.I can't access the site at all, back end  or front end. Just get db access errors.Seems that the only option right now is to restore from s back up w/o JBS and try to install again.Thank you for your response will let you know how it goes once I can get site working again.On Aug 5, 2019 11:07 AM, Tom Fuller <notifications@github.com> wr

[2019-09-03 12:04] bcordis commented on #803
@nixthing Can you update us on this? let us know if you were able to install again and see a fresh install work. thanks.

Leaving ticket open for 9 days and will close.

[2019-09-03 12:04] #801 closed

[2019-09-03 15:45] nixthing commented on #803
I did a fresh I install replied with email I think it was around the 5th of August. To your question, yes a fresh install worked, but still had to recreate my site. Fortunately it was a test site.Thank you.On Sep 3, 2019 5:04 AM, Brent Cordis <notifications@github.com> wrote:@nixthing Can you update us on this? let us know if you were able to install again and see a fresh install work. thanks.
Lea

[2019-11-07 14:45] #802 closed

[2019-11-07 14:46] #803 closed

[2019-11-07 14:46] bcordis commented on #794
Fixed in 9.2.0

[2019-11-07 14:46] #794 closed

[2019-11-07 14:47] bcordis commented on #787
in 9.2.x

[2019-11-07 14:47] #787 closed

[2019-11-07 14:47] #781 closed

[2019-11-07 14:47] bcordis commented on #775
Closing

[2019-11-07 14:47] #775 closed

[2019-11-07 14:48] bcordis commented on #742
in 9.2.0

[2019-11-07 14:48] #742 closed

[2019-11-07 14:50] bcordis commented on #687
Removed all to gether.

[2019-11-07 14:50] #687 closed

[2020-02-06 09:48] bcordis opened #805 "Simple mode notification"
Not able to make notification disappear or hide.

[2020-02-27 22:11] bcordis opened #806 "Fix image resize quality"
Images are getting badly resized. Also, look into creating a secondary fill inbox for resized images allowing to manually upload resized image. We will need to create a switch that will override and turn off resizing for that record.

[2020-02-27 22:12] bcordis opened #807 "Series record list"
Under series edit list sermons that are attached to that series.

[2020-03-07 23:58] bcordis opened #808 "Quick Archive button in messages not working"
It looks to be using the wrong controller.

[2020-03-08 23:24] #808 closed

[2020-05-12 19:30] bcordis opened #810 "Search Parameters not passing through to controller"
Found and verified on https://www.nfsda.org and https://willows.org.za/

Need to fix search parameters.

[2020-05-15 03:21] bcordis commented on #810
Made Progress on testing the fix. I will get Tom to verify the fix.

[2020-05-16 05:11] bcordis opened #812 "Landing Page More not there"
Seams that there is no more button or section for speakers will need to look into that.  Also, a graphic update would be great.

[2020-06-21 14:04] #810 closed

[2020-06-29 22:17] tomfuller2 opened #813 "Language search tool will not hide"
Issue #12
https://www.christianwebministries.org/support/new-ticket.html?view=ticket&id=12#p19

I went into Study List View > List Items and turned off various filters we did not want to use. All of them hide as desired except the language filter (show language drop-down). Although that is set to NO, it is still visible. Please help me hide it.  Thanks, God Bless :)

I tried to set Language set to

[2020-06-29 22:19] tomfuller2 opened #814 "Some teacher icons missing"
Mail, Facebook, Twitter icons appear broken in single teacher view

[2020-07-09 23:49] bcordis opened #816 "what is 1054 Unknown column 's.media_hours' in 'field list'"
I am trying to get the podcast set up, all looks good, it is set up and the media is all added.
But the xml doesn't exist, When I click Write XML files I get this error 1054 Unknown column 's.media_hours' in 'field list'

[2020-07-10 00:13] bcordis commented on #816
Tested and sent to user that reported it to test and it is fixed.

[2020-08-02 03:04] #816 closed

[2020-08-20 12:10] bcordis opened #817 "FancyBox player braking"
Found that the player would brack if the title has ASCII noncarriers in it and looks like we need to ASCII the title output to the <a> block.

[2020-09-07 19:07] bcordis commented on #814
Fixed in Development

[2020-09-07 19:08] #814 closed

[2020-09-07 19:08] #813 closed

[2020-09-07 19:08] #812 closed

[2020-09-07 19:10] bcordis commented on #805
Need to verify this has a hid button working.

[2020-09-07 23:04] bcordis opened #819 "fix search field to allow for all inside full return"
Right now searches only return in the set presentation and not the full return. But will need to fallow the filter fields.

[2020-09-08 01:30] #817 closed

[2020-09-24 00:36] tomfuller2 commented on #805
Fixed

[2020-09-24 00:36] #805 closed

[2020-11-14 04:50] bcordis opened #820 "Problem with the size of file look up. taking to long"
Need to look into the problem and see what is making it take so long.

[2020-11-14 14:04] bcordis commented on #767
Looking at adding more alternate podcast service displays. Google, Spotify, Apple, etc.. allowing users to list them all on the bottom of the page. work out a way to show them tighter on the bottom without taking up the full page look.

Would be nice to have a plus button just to add the next service. Not sure if I'll be able to do that now something to think about.

[2020-11-19 00:28] bcordis opened #821 "Podcast Error with Google Podcast & Spotify"
Found that the description can't have HTML in it. it shows the code instead of the text only.

[2020-11-19 00:42] bcordis commented on #821
Will need to run the output for them to strip all HTML out of the description.

[2020-11-28 17:12] bcordis commented on #821
This seams to affect Spotify also.

[2021-01-15 12:22] bcordis opened #825 "Look into a way to allow for multiple teachers"
A way to allow sermon to show up on multiple teachers streams. Giving the flexibility to add more then one teacher to each sermon.

We may need to us a Join table to allow for SQL optimization.

[2021-01-16 01:15] bcordis opened #826 "Update plupload for the system. Do to vulnerabilities in the JS."
Need to adopt the code and test it as it is quite newer.
https://github.com/moxiecode/plupload/tree/master/js

[2021-02-16 02:39] #821 closed

[2021-02-21 17:13] glgprasad opened #827 "podcast issue/ php issues"
![podcast error](https://user-images.githubusercontent.com/79415321/108632632-f4be6680-7495-11eb-8fee-875fd86d503b.jpg)
![WhatsApp Image 2021-02-18 at 4 10 58 PM](https://user-images.githubusercontent.com/79415321/108632659-1fa8ba80-7496-11eb-879a-7ad4ab651d61.jpeg)
![WhatsApp Image 2021-02-18 at 3 58 35 PM](https://user-images.githubusercontent.com/79415321/108632664-20d9e780-7496-11eb-9376-97c3e

[2021-02-21 21:24] bcordis commented on #827
Sent test file to client to see if it fixes problem.

[2021-02-22 03:23] glgprasad commented on #827
![2021-02-22 08_52_43-Window](https://user-images.githubusercontent.com/79415321/108653002-6ecd0a80-74eb-11eb-86fa-5f6f57216582.png)

[2021-02-22 03:24] glgprasad commented on #827
same error repeated. regards

[2021-02-22 04:52] glgprasad commented on #827
![error](https://user-images.githubusercontent.com/79415321/108663972-ca04fa00-74f7-11eb-9cf6-339a02d0081b.jpg)

[2021-02-22 04:52] glgprasad commented on #827
same error repeated sir

[2021-02-22 16:04] bcordis commented on #827
Got admin credentials and doing additional testing.￼

[2021-02-23 00:37] bcordis commented on #827
Fix tested on the site and working.

[2021-02-23 00:37] #827 closed

[2021-02-23 17:02] bcordis opened #828 "Problem with sermons Ordering"
Looks like the menu and the other orders are not being allowed especially the direction in particular.

[2021-02-23 17:04] bcordis commented on #828
Found that menu order was not affecting the page and needed to be set but may need to update a message telling them the default should be reset on their menus to use global unless they need to override the template.

[2021-02-24 02:44] bcordis opened #829 "Ordering with Messages on Admin side not sticking"
Found that with the new system the ordering needs ordering field to keep its order. Will need to add it in.

[2021-02-25 23:30] bcordis commented on #829
Fix tested and ready.

[2021-02-25 23:30] #829 closed

[2021-02-25 23:30] bcordis commented on #828
tested and ready.

[2021-02-25 23:30] #828 closed

[2021-02-27 15:52] tomfuller2 opened #832 "Image changer needs form checker"
You can change something to Image, and choose an Icon instead of an image below - which breaks and only text shows. Should check the form to make sure it matches. Admin Image changer.

[2021-03-05 02:34] glgprasad opened #833 "update warning"
![2021-03-05 07_59_00-Movies   TV](https://user-images.githubusercontent.com/79415321/110058969-5a113200-7d89-11eb-8a69-8fcbc16f3492.jpg)

[2021-03-05 15:26] bcordis commented on #833
The Warning is not a problem. That Component will work fin. Newer installs the warning will go away.

[2021-03-05 15:26] #833 closed

[2021-03-05 16:06] bcordis commented on #77
Moved to use Joomla Filtering system to reduce coding cost.

[2021-03-05 16:06] #77 closed

[2021-03-05 16:09] bcordis commented on #287
Need to look into this again and verify that we are compliant with language filtering.

[2021-03-05 16:10] bcordis commented on #540
@tomfuller2 we could ask people to export their templates but this would be something if they used custom template_fils

[2021-03-05 16:14] bcordis commented on #705
Need to see if this is something that more people want. Also would need to look into what people expect for bulk uploading. This may be an XML file that a user can place with their media to import and create the record.

[2021-03-06 22:46] tomfuller2 commented on #540
I feel like this is already possible. I’ll check it out.

[2021-03-06 23:08] bcordis commented on #540
Yes I think it is possible now also. We could create multiple versions of a
template that they could use. We also need to document CSS usage system.
And a template repository for them to pull from. Like the idea.

On Sat, Mar 6, 2021 at 4:46 PM Tom Fuller <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2021-03-17 22:51] mheiniger opened #834 "Bug: Media Items don't show up in single view"
After the last update to Proclaim 9.2.5 in single view (`$type === 'sermon'`) the media playback part was missing. In the list view  (`$type === 'sermons'`) they were still visible.

After some digging found that here:
https://github.com/Joomla-Bible-Study/Proclaim/blob/cc22399a7f6a9cc32bd8744b0d2d0a4453a84348/site/lib/listing.php#L480

`$mediafile->study_id` is a `string`
and
`$item->id` is an `i

[2021-03-26 00:29] bcordis opened #835 "Problem with Media File creation not getting server presets."

[2021-03-26 00:34] bcordis commented on #835
This fix is test on live site and test sites.

[2021-03-26 00:34] #835 closed

[2021-03-26 00:44] bcordis commented on #832
@tomfuller2 Can you help me with this one more. How do I reproduce the bug?

[2021-03-26 02:04] bcordis commented on #820
This looks to be fixed until more reports on it and will reopen it.

[2021-03-26 02:04] #820 closed

[2021-03-26 03:21] bcordis opened #837 "Problem with Sermon display not rendering media & Scripture right"
Found the Int was not being set for Media and Scripture was not bypassing the render if no book was selected.

[2021-03-26 12:52] bcordis opened #838 "Sermons View Page builder section over usage"
Looking at the code and following how it's being used. Right now it looks like we are calling it but we don't need it all the time.

Need to look at seeing if we could narrow the usage down.

site\views\sermon\view.html.php line 288

[2021-03-26 23:04] #125 closed

[2021-03-26 23:04] #322 closed

[2021-03-26 23:05] #705 closed

[2021-03-26 23:05] #540 closed

[2021-03-26 23:06] #278 closed

[2021-03-26 23:07] #141 closed

[2021-03-26 23:07] #147 closed

[2021-03-26 23:08] #127 closed

[2021-03-26 23:11] bcordis commented on #126
With auto-archive will need a plugin to trigger this for us. Almost need a proclaim plugin that is just for these auto tasks?

[2021-03-26 23:11] #137 closed

[2021-03-26 23:32] bcordis commented on #778
Have a check for if Podcast Plugin is enabled under the settings view for the podcasts.

[2021-03-27 00:28] tomfuller2 commented on #126
Yes. Makes sense

On Fri, Mar 26, 2021 at 4:11 PM Brent Cordis ***@***.***>
wrote:

[2021-03-28 19:29] bcordis opened #849 "Modele Sermons Row Image span"
Not following correct span selection. Selected Study but go teacher.

[2021-04-01 00:50] tomfuller2 commented on #838
Looks like only call it once in sermon/view.html.php and that is only if the user has turned on expert mode. Do we still use expert mode?

[2021-04-01 00:51] tomfuller2 commented on #832
I can work on that.

[2021-04-01 01:35] bcordis commented on #838
I'm not sure we use it any more and the way it's coded right now it runs the through the code every time. Lot of over work as it's not used.

[2021-04-01 01:37] bcordis commented on #832
Ok thanks as I could not fallow the bug flow to reproduce it.

[2021-04-02 19:10] bcordis commented on #838
Man, we are running into the same problem within the model presenting the same over usage of the processes. Looks like we need to optimize them both.

[2021-04-06 14:38] bcordis commented on #834
Thank you for your impute we see this and have a new release to fix this now. Duplicate of #837

[2021-04-06 14:39] bcordis commented on #837
Leaving open till pull request is completed.

[2021-04-06 14:39] #849 closed

[2021-04-06 21:56] bcordis commented on #837
Released in 9.2.6

[2021-04-06 21:56] #837 closed

[2021-04-06 21:56] bcordis commented on #834
Released with 9.2.5

[2021-04-06 21:56] #834 closed

[2021-04-16 04:48] bcordis opened #853 "Media Download Global Icon showing up"
Some websites are not following the Use globe download icon settings.

[2021-04-16 11:47] bcordis opened #855 "Delete media not working at this time. Not sure if it ever was."
Would need to look into

[2021-04-18 21:36] bcordis commented on #853
Fix in #850

[2021-04-18 21:37] bcordis commented on #832
Delayed to work on image checker later after 9.2.7

[2021-04-18 23:35] bcordis commented on #853
This will b fixed in v9.2.7

[2021-04-18 23:35] #853 closed

[2021-04-30 08:03] glgprasad opened #858 "error when clicking on the sermon title"
![2021_04_30_13_24_36_Window](https://user-images.githubusercontent.com/79415321/116665975-0c472d80-a9b8-11eb-9869-53e39aeeafc9.jpg)
![WhatsApp Image 2021-04-30 at 1 23 25 PM](https://user-images.githubusercontent.com/79415321/116666558-b757e700-a9b8-11eb-8e4d-a247d55a11f4.jpeg)

I am not having issue with the playing the media. but when clicking on the sermon title it is going to the error page.

[2021-04-30 11:32] bcordis commented on #858
found online Proclaim/site/helpers/relatedstudies.php:26 looking into it.

[2021-04-30 16:31] bcordis commented on #858
This is a bug with 7.3.x version of PHP.  seeing if we need to fix this or force them to upgrade to PHP 7.4 or grater.

[2021-05-02 14:59] bcordis commented on #838
@tomfuller2 I think this would be a fix for us now.

[2021-05-21 03:48] #858 closed

[2021-05-21 03:48] #838 closed

[2021-07-23 03:04] bcordis opened #866 "Created by is not populating"
Will not update filed so there must be something else wrong.

[2021-08-09 06:36] st-anton commented on #855
Hi Brent, I was absent for a long time...
I debugged is and found that the admin model/mediafile.php line 713 is called, where state is checked for -2 (line 717). But `state` is not part of the table variable. It is simply not there. So the call fails.
Deleting a study, there is no function `canDelete` in the studies model. So studies can be deleted.

[2021-08-10 12:04] bcordis commented on #855
@st-anton so glad you have been able to take time to look at the system. I'll try and make a pull request with this change and see if you can look at it also.

[2021-08-28 07:59] st-anton opened #869 "Joomla 4 Compatibility?"
Hi, is the actual version compatible and tested with Joomla 4? What is the roadmap?

[2021-08-28 15:01] tomfuller2 commented on #869
We are about to begin coding for J4. We don’t know yet how long it will take but we’ll update this thread.

[2021-09-28 22:38] tomfuller2 opened #870 "Select fields for Studies List menu not working"
Create a menu item for a studies list. In the Studies List Layout tab, none of the selections work except the strict SQL. I tried to mimic a modal selection from com_content but I get Layout Modal not found. Others have an htmlspecialcharacters error.

[2021-09-29 00:59] tomfuller2 opened #871 "Administer comments sql error"
Create menu item to administer comments. Error:

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LIMIT 20' at line 1 Query was empty

[2021-09-29 01:01] tomfuller2 commented on #871
Same error for Administer Media Files

[2021-09-29 01:14] tomfuller2 opened #872 "Admin studies"
Error: CWMMessageList, html, site

[2021-09-29 01:25] tomfuller2 opened #873 "Landing page css hide/show not working"
View appears but no css

[2021-09-29 01:25] tomfuller2 opened #874 "Single Series selector not working"
New menu item for single series. Select series not workinfg

[2021-09-29 01:27] tomfuller2 opened #875 "Single Study selector not working"
New menu item for single study. Select study not working.

[2021-09-29 01:33] tomfuller2 opened #876 "Twitter icon not working"
fa-twitter not working on views

[2021-10-27 05:23] glgprasad opened #877 "JW player not working , Podcast not updating"
till last week all the media files (MP3) were working fine and upon selection of internal audio player ,it was taking JW player and working fine.
from this week download icon is going to UNABLE TO OPEN FILE
and file conversion default coming to 327
Joomla 3.10.3
php 7.4

[2021-10-28 00:28] tomfuller2 opened #878 "When creating menu item to Proclaim, application dies"
Create a study list menu item.

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta http-equiv="Content-Style-Type" content="text/css">
<title></title>
<meta name="Generator" content="Cocoa HTML Writer">
<meta name="CocoaVersion" content="2113">
<style type="text/css">
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px 'Helvetica Neue'}

[2021-10-28 15:06] #877 closed, assigned to bcordis

[2021-12-30 04:46] glgprasad opened #879 "Podcast XML not getting updated"
Dear team,

https://tbolf.org/newsite/tbolf.xml is not getting updated inspite of the media files having the selected podcast.

site: http://tbolf.org/newsite

regards

[2022-01-05 21:39] tomfuller2 commented on #879
I see a message from January 2nd in the XML file. Has the problem been
resolved on your end?

On Wed, Dec 29, 2021 at 8:46 PM glgprasad ***@***.***> wrote:

[2022-01-06 09:54] glgprasad commented on #879
Dear Sir,

it is been sorted out with the help of Bro.Brent Cordis.

Thank you very much sir,

God Bless you and your ministry.

Prasad

On Thu, Jan 6, 2022 at 3:09 AM Tom Fuller ***@***.***> wrote:

[2022-01-11 23:50] #879 closed

[2022-01-12 19:52] bcordis commented on #878
I have tested this on my system and can not reproduce it after doing the updates. Please pull from j4bata to get the latest fixes.

[2022-01-12 22:22] tomfuller2 commented on #878
I still have the problem after updating from j4bata and to Joomla 4.05.
No errors without any Proclaim menus. If I create a studieslist menu item then I get this
Error:

Class 'CWM\Component\Proclaim\Administrator\Extension\ProclaimComponent' not found
Call stack
#          Function          Location
1          ()          /Users/Tom/PhpstormProjects/Proclaim/admin/services/provider.php:49
2      

[2022-01-12 22:56] bcordis commented on #878
Forgot to push the new code. Try it now.

[2022-01-12 23:12] tomfuller2 commented on #878
Same issue. When I unpublish the menu item, the site works fine.

[2022-01-13 17:51] tomfuller2 commented on #878
I added those lines to the autoload file under libraries | vendor. Didn't work. There are two other files of the same name. Should I add it there too?

[2022-01-13 18:00] bcordis commented on #878
There should be only one autoload_psr4.php under administrator\cache folder. I don't think it's located any where else.

[2022-01-13 18:30] tomfuller2 commented on #878
There are actually 3. I edited the cache one - the correct syntax needs to be:

'CWM\\Component\\Proclaim\\Administrator\\' => [JPATH_ADMINISTRATOR . '/components/com_proclaim/src'], 'CWM\\Component\\Proclaim\\Site\\' => [JPATH_SITE . '/components/com_proclaim/src'],

Notice the double back slashes in the namespace, and, most important, the trailing double slash. Now I'm back up to working!

[2022-01-13 18:30] #878 closed

[2022-01-15 00:01] bcordis commented on #876
Can post steps to reproduce the icon not showing?

[2022-01-15 00:01] bcordis commented on #875
This should be fixed now.

[2022-01-15 00:51] bcordis commented on #874
This should be fixed now Please test.

[2022-01-15 19:09] tomfuller2 commented on #876
Just create a menu item for the Teacherlist - you will see that the Twitter icon shows up as a question mark

[2022-02-03 01:49] #855 closed

[2022-02-18 21:44] bcordis opened #880 "Problem with Podcast xml output of time."
not outputting duration on the podcast after last update.

[2022-03-06 17:21] #880 closed

[2022-03-18 10:34] #872 closed

[2022-03-18 10:34] #874 closed

[2022-03-18 10:34] #875 closed

[2022-03-18 19:02] tomfuller2 opened #882 "$model->getIdToNameReverseLookup(); not working in field"
Admin/Field/serverField

When refactoring the $model->getIdToNameReverseLookup(); function not available. I don't know the equivalent

[2022-03-23 22:08] tomfuller2 opened #883 "Using download popup message results in popup icon dissapearing"
to reproduce: choose Show popup message before download in the template.

On studylist the popup icon disappears.

[2022-03-23 22:50] tomfuller2 opened #884 "Editing template file results in error"
Admin side - edit or create new template file.

Call to a member function getTable() on bool

JROOT/libraries/src/MVC/View/HtmlView.php:441

[2022-03-26 01:24] bcordis commented on #884
Fixed the edit button now.

[2022-03-26 01:24] #884 closed

[2022-03-28 12:10] bcordis commented on #882
@tomfuller2 Can you point me to the original file this was located in?

[2022-03-28 16:16] tomfuller2 commented on #882
Admin / src / Field / ServerField

[2022-03-29 23:41] bcordis commented on #883
@tomfuller2 try testing with the new fix.

[2022-03-30 01:31] tomfuller2 commented on #883
It opens in a new tab, not a modal. Also, there is a MySQL error when you try to click on the download.

[2022-03-30 02:08] bcordis commented on #883
@tomfuller2 This may be something we need to re-design as it was a pop up and not a model. Can you send me SQL error?

[2022-03-30 15:48] tomfuller2 commented on #873
This is fixed.

[2022-03-30 15:48] #873 closed

[2022-03-30 15:49] tomfuller2 commented on #876
Fixed (changed way icon was called)

[2022-03-30 15:49] tomfuller2 commented on #870
I don't think this is an issue anymore.

[2022-03-30 15:49] #870 closed

[2022-03-30 15:56] tomfuller2 opened #885 "Links from within Proclaim append an incorrect ItemID"
To reproduce, create a studies list. Add the Teachers show on the top.

Links to Teachers add an ItemID[1]142. 142 is the menu item of teachers. Joomla is creating an array which leads to a 500 error.

the links are created in default_main of view CWMSermons

<a href="index.php?option=com_proclaim&view=CWMTeacher&id=' . $teacher['id'] . '&t=' . $teacher['t'] . '" >
							<img class="img-polaroid"

[2022-06-23 00:13] tomfuller2 opened #886 "$asset = Table::getInstance('Asset');"
getInstance is deprecated. Not sure how to get this value.

admin/src/Table/CWMTeacherTable _getParentAssetId on line 167

[2022-06-23 00:13] tomfuller2 commented on #886
I think this same thing is in a lot of the table files

[2022-07-16 00:40] tomfuller2 opened #887 "Router not working properly"
I need to figure out why Joomla is not seeing the build and parse methods in our ProclaimNoMenuRules.

[2022-07-18 23:17] tomfuller2 commented on #887
Fixed the main problem by adding an array_shift to remove items from $segments. This was causing the Joomla Router.php to fail on line 143 because there were items left in the $segments after creating $vars from them. I noticed the line in the MyWalks tutorial.

https://github.com/Joomla-Bible-Study/Proclaim/commit/c78826c00a5a40399bf0a098ea2573257443249d

[2022-07-18 23:17] #887 closed

[2022-07-20 01:01] tomfuller2 opened #888 "CWMSeriesDisplay breaks two modules"
To reproduce: create a menu item to a series.

Error 1 in mod_breadcrumbs: Notice: Undefined index: cwmseriesdisplay in /Users/tomfuller/Sites/localhost/j4/libraries/src/Component/Router/Rules/StandardRules.php on line 210

Also occurs in mod_menu

The issue appears to be with the $query that is sent to the build function. I haven't been able to trace it down yet.

[2022-07-20 21:31] tomfuller2 opened #889 "Save and Cancel buttons don't work on commentform site side"
Try to edit a comment - you cannot save or cancel

[2022-07-21 12:28] bcordis commented on #889
I'll look into the problem as looks to be a JavaScript problem.

[2022-07-21 21:50] bcordis commented on #871
This has been fixed in the latest working version.

[2022-07-21 21:50] #871 closed

[2022-07-24 20:29] tomfuller2 opened #890 "Site side message edit does not have any info"
No fields are filled in when editing a message on the site side.

[2022-07-26 17:44] tomfuller2 commented on #888
This has been solved. There was an incorrect entry in the menus table. Fixed the case of the view and issue resolved.

[2022-07-26 17:44] #888 closed

[2022-08-15 15:08] #885 closed

[2022-08-15 15:13] tomfuller2 opened #891 "SEF not working"
view, id, and template not being set and result in 404. Perhaps need to rewrite new router. I've decided to stop working on this and go back to debugging.

[2022-08-18 16:52] tomfuller2 opened #892 "download link not work"
Issue: db error issues when clicking download link. Problem is that $item in the Sermon Model is null.

Attempted fix: added $id ($study_id in $media) to the url

http://localhost:8889/j4/index.php?option=com_proclaim&view=CWMSermon&id=1039&mid=4023&task=download&Itemid=115

Result: only the study is displayed.

Attempted to see if the download() function in controller CWMSermon was being accessed

[2022-08-18 17:08] tomfuller2 opened #893 "Terms not opening in modal"
When set Show Terms in Template params - the terms window does not open in modal

http://localhost:8889/j4/index.php?option=com_proclaim&view=CWMTerms&tmpl=component&layout=modal&compat_mode=0&mid=4022&t=1&Itemid=115

[2022-08-18 17:17] tomfuller2 commented on #892
Fixed in https://github.com/Joomla-Bible-Study/Proclaim/commit/d0d120b6194d5b27cbd5a79e8de2ce602d2e55a2

Added task=CWMSermon.download to link in downloadlink.

[2022-08-18 17:17] #892 closed

[2022-08-18 17:21] tomfuller2 opened #894 "Need to test media player parameters"
Need to make sure all the parameters in the Template - Media tab are appropriate and working.

[2022-08-18 17:31] tomfuller2 opened #895 "Ordering for Landing Page individual views not working"
In Template Params Landing Page - set Ordering to ascending or descending - has no impact

[2022-08-19 23:32] bcordis commented on #891
Let's work on SEF after we get all the Bugs worked out.

[2022-08-19 23:36] bcordis commented on #866
Will need to test in Joomla 4.

[2022-08-21 00:09] bcordis opened #896 "Fix asset fix system"
There seems to be an error with the form conflicting with the main page.

[2022-08-22 20:26] tomfuller2 opened #897 "Unable to save Teacher image"
Upload or select a Teacher Image. Save.

An error has occurred.
0 The image file does not exist.

[2022-08-22 21:00] tomfuller2 commented on #897
The error message comes from site - libraries - src - image - image.php on line 180.

[2022-08-22 21:25] bcordis commented on #897
This is a problem we need to discuss. The way we resize images on save is a
problem.

On Mon, Aug 22, 2022 at 3:27 PM Tom Fuller ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-08-23 23:43] bcordis commented on #889
Considering not using this on the front side due to complications and not being needed as people have rights to the back end just fine.

[2022-08-23 23:46] tomfuller2 opened #898 "Recaptcha"
I'm hoping we can use the built in Joomla captcha plugin for comments. I've been unable to successfully implement it so I leave this until later.

[2022-08-24 00:10] tomfuller2 commented on #889
Right. We will want to allow comments to add to a study, but we don't need to admin them from the site side.

[2022-08-26 16:51] tomfuller2 commented on #898
This has been resolved with https://github.com/Joomla-Bible-Study/Proclaim/commit/75e6ab38e130155ef046217b0dda7603c482ffb4

[2022-08-26 16:51] #898 closed

[2022-08-26 17:28] tomfuller2 commented on #897
Fixed by adding directory="biblestudy" to the media fields. https://github.com/Joomla-Bible-Study/Proclaim/commit/eca7087b5ba90abc4203be3bcd233ac9310418b9

[2022-08-26 17:44] tomfuller2 commented on #897
This is not fixed for some views

[2022-08-30 23:26] tomfuller2 commented on #897
Something is happening after selection of an image.

Appendded to the image path is a part of what appears to be js.

images/biblestudy/Tom11-22-21-1-100.jpg#joomlaImage://local-images/biblestudy/Tom11-22-21-1-100.jpg?width=100&height=125

not sure why this happens!

In the message.xml I remove the string using strpos and substr. This is not an answer.

[2022-08-31 01:33] tomfuller2 commented on #897
Libraries src form field MediaField.php seems to be the source.

on line 265

[2022-08-31 16:47] tomfuller2 commented on #897
So oddly, this might either be something involved with my site on localhost - or is expected behavior. I created a banner and the image also has the same tag on it:

images/banners/banner.jpg#joomlaImage://local-images/banners/banner.jpg?width=1140&height=600

[2022-08-31 21:43] tomfuller2 commented on #897
This is fixed

[2022-08-31 21:43] #897 closed

[2022-08-31 23:51] tomfuller2 commented on #896
This has been fixed. https://github.com/Joomla-Bible-Study/Proclaim/commit/ee02f5f5dd0cef7caa1e96f2379ece77685d3a15

[2022-08-31 23:51] #896 closed

[2022-09-03 16:33] tomfuller2 opened #901 "Server admin view issues"
Server shows up, but after clearing it you cannot add a new server. Just shows "Server Name" with no select

Upload button does not work

[2022-09-03 16:53] tomfuller2 commented on #886
Fixed

[2022-09-03 16:53] #886 closed

[2022-09-03 16:53] tomfuller2 commented on #895
I believe I fixed this

[2022-09-03 16:53] #895 closed

[2022-09-03 16:53] tomfuller2 commented on #890
No longer needed as we removed site side admin views

[2022-09-03 16:53] #890 closed

[2022-09-03 16:54] tomfuller2 commented on #889
We removed this functionality

[2022-09-03 16:54] #889 closed

[2022-09-03 16:54] tomfuller2 commented on #882
Fixed. I moved the function to the serverField.php.

[2022-09-03 16:54] #882 closed

[2022-09-03 16:55] tomfuller2 commented on #800
We removed this functionality

[2022-09-03 16:55] #800 closed

[2022-09-03 17:32] tomfuller2 commented on #832
I removed this functionality. https://github.com/Joomla-Bible-Study/Proclaim/commit/39ddad4d226a8287c67a5d74a6b173711c987d88

[2022-09-03 17:32] #832 closed

[2022-09-09 18:19] tomfuller2 commented on #893
Fixed my changing to a bootstrap modal window. https://github.com/Joomla-Bible-Study/Proclaim/commit/30c03371e39dba41ce84e2ccba38d6edc2c897f8

[2022-09-09 18:19] #893 closed

[2022-09-09 18:19] tomfuller2 commented on #883
This was fixed with: https://github.com/Joomla-Bible-Study/Proclaim/commit/30c03371e39dba41ce84e2ccba38d6edc2c897f8

[2022-09-09 18:19] #883 closed

[2022-09-10 20:30] tomfuller2 commented on #901
The Add File does work - which is strange because they appear to use the same javascript?

In Servers/Legacy/Field/pupload.php - two <a href>s. One works (file) the other doesn't: (upload)

<a id="btn-add-file" href="javascript:;" class="btn btn-default">
                             <i class="icon-plus"></i>
                             Add File
                          </a>

[2022-09-28 15:12] bcordis commented on #901
So far pupload.php is bad and the js is not working on the new J4. Will have to work on some new way.

[2022-10-01 13:12] bcordis opened #903 "Look at new default presentation for sermons"
Look at this fine work. https://www.ridgetopsda.com/media/sermons?page=1&sort_by=Date&is_ascending=0&search=&tags=&presenter=

[2022-10-01 14:07] tomfuller2 commented on #903
Wow! I wonder if that’s homegrown. After our 10 comes out I would like to
explore nice templates like this.

On Sat, Oct 1, 2022 at 6:12 AM Brent Cordis ***@***.***>
wrote:

--
Tom Fuller, APR

Founder and Principal

Imagine Public Relations

www.ImaginePublicRelations.com
971-832-9494 | 503-550-4067
***@***.***
www.ImagineVisualProductions.com <https://www.imaginevisualproductions.com/>
[image: f

[2022-10-01 19:42] tomfuller2 opened #904 "Sermon View not found"
For some reason the link to a sermon view from sermons is losing case - and the component can't find the view. Just renaming the view folder to lower case does not solve the issue

This works: https://www.church.imaginepublicrelations.com/index.php?option=com_proclaim&view=CWMSermon&id=1034:flourishing-faith&t=1&Itemid=352

This is how is comes from the sermons view:
https://www.church.imaginepubl

[2022-10-02 00:10] tomfuller2 commented on #904
On Localhost this works fine - lower case finds the view even though it is in camel case.

[2022-10-03 08:07] st-anton opened #905 "Omit download of external code whenever possible; add info in release"
At least in Europe currently a lot of warnings (with costs of several 100 Euros / $) are sent to webpages, where external code is used. They claim a violation of GDPR if external code is used, the external link server may collect data of the users.
I found external code of the frontpage:
- [https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js](https://cdn.jsdelivr.net/g

[2022-10-05 00:02] tomfuller2 commented on #904
Fixed in PageBuilder. https://github.com/Joomla-Bible-Study/Proclaim/commit/5e63f54d6780b5d0d82dca512c08c509bf5ea024

[2022-10-05 00:02] #904 closed

[2022-10-12 17:16] tomfuller2 opened #906 "Pagination on some admin lists does not work"
Clicking one of the links on the admin side does not move forward in the list

[2022-10-12 17:17] tomfuller2 commented on #906
THis is on the mediafiles view

[2022-10-12 17:36] tomfuller2 opened #907 "Server info not save"
Admin side - change the url for a server and hit save. Joomla reports item saved but info not updated

[2022-10-12 22:28] tomfuller2 opened #908 "New window player results in 404"
Clicking on a player as new window - url such as:

<a href="javascript:;" onclick="window.open('/index.php?option=com_proclaim&amp;task=playHit&amp;return=aHR0cDovL3d3dy50b21mdWxsZXIubmV0L2dyb3d0aGdyb3VwcXVlc3Rpb25zLzJUaGVzc2Fsb25pYW5zMV8xLTEyUXVlc3Rpb25zLnBkZg==&amp;62be24252ff0d64afb0ef891b9deccae=1')" title="Growth Group Questions - PDF -  53 KB"><span class="fa fa-leaf" title="Growth Group Que

[2022-10-12 22:45] tomfuller2 opened #909 "Backup controller invalid"
<blockquote class="blockquote" style="box-sizing: border-box; margin: 0px 0px 1rem; font-size: 1.25rem; color: rgb(73, 80, 87); font-family: Roboto, -apple-system, &quot;system-ui&quot;, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-style: normal; font-v

[2022-10-12 23:58] tomfuller2 commented on #908
Fixed temporarily by substituting popup code for new window in player.

https://github.com/Joomla-Bible-Study/Proclaim/commit/e8977d598dab01d2e41fec267b4baa2371185c22

[2022-10-19 00:33] tomfuller2 commented on #906
What's happening is $limitstart is not being passed to the pagination method.

[2022-10-19 16:44] tomfuller2 commented on #909
Fixed by adding a cwmbackup controller.
https://github.com/Joomla-Bible-Study/Proclaim/commit/ac5e2a7cad2f73ee20457a5762ffaf9a4b704eb1

[2022-10-19 16:44] #909 closed

[2022-10-19 16:45] tomfuller2 commented on #906
This is happening on all admin views.

[2022-10-29 08:51] st-anton commented on #905
For the player it is helpful to offer native html5 <audio> and <video> as an alternative to pwplayer (and or other players.

[2022-11-02 16:21] tomfuller2 opened #910 "Sermons view fails with getfilter"
View fails on view.html file on line 426
$set  = $input->getInt('filter_' . $filter);
$from = $this->filterForm->getValue($filter, 'filter');

Call to a member function getValue() on null

Only happens on web host, not localhost

[2022-11-08 00:49] tomfuller2 commented on #910
I appear to have solved it by renaming filter_CWMSermons.xml under forms - to filter_cwmsermons.xml. That's how com_content does it. https://github.com/Joomla-Bible-Study/Proclaim/commit/d5977c9b8b4faea949fde4f80e981b154df86360

[2022-11-08 00:49] #910 closed

[2022-11-08 15:44] tomfuller2 opened #913 "Filter Options do not work on sermons view"
Now that the search options doesn't throw an error - pressing the button does nothing.

view: site - cwmsermons.

The error is: Uncaught TypeError: Cannot read properties of null (reading 'append')
    at e.createOrderField (searchtools.min.js?61db5b55e2018b60b2e8ea8f44eefa507e5b1707:1:8315)
    at new e (searchtools.min.js?61db5b55e2018b60b2e8ea8f44eefa507e5b1707:1:4346)
    at HTMLDocument.i (se

[2022-11-08 17:58] tomfuller2 commented on #913
Fixed this with renaming field names. https://github.com/Joomla-Bible-Study/Proclaim/commits/development

[2022-11-08 17:58] #913 closed

[2022-11-10 00:32] #903 closed

[2022-11-10 00:55] tomfuller2 commented on #906
Fixed - duplicate pagination found. Removed one. https://github.com/Joomla-Bible-Study/Proclaim/commit/c4ed3db242c3d08fdc3115b0acaa997e75ecd3e0

[2022-11-10 01:08] tomfuller2 commented on #906
Fixed this in messages list but it still doesn't work in media files.

[2022-11-10 01:12] tomfuller2 commented on #906
Teachers list also does not work with pagination.

[2022-11-10 01:32] tomfuller2 commented on #906
Also series.

Topics works. Servers works. Comments work. Templatecodes work.

[2022-11-10 23:16] tomfuller2 commented on #906
So just to update:

Pagination does NOT work on admin: MediaFiles, Teachers, Series.

The links at the bottom of the page are correct - the same for the working Studies list.

<a aria-label="Go to page 3" href="#" onclick="document.adminForm.limitstart.value=40; Joomla.submitform();return false;" class="page-link">
            3        </a>

But $limitstart is being removed prior to it getting to

[2022-11-12 20:20] tomfuller2 commented on #906
I'm wondering if there is a way to test the javascript here. Seems the info for the limitstart is correct in a < a href but does not get passed on to the ListModel or Pagination.

[2022-11-14 13:24] bcordis commented on #906
Added the core JS to all List views. Working through the code to update the views with all the new J4 code.

[2022-11-28 17:15] st-anton opened #915 "Server Addon: An exception is thrown if language is not present"
In my case, german language file is not present. This is not a problem, since ->getLanguage() falls back to english. But in this case (the only case as far as I see), an exception is thrown.

\admin\src\Model\CWMServerModel.php line 228

Is this really needed? If I comment it out, language works as expected. But to be true: I don't know, why it did work in v9.x with the same code.